section.wrapper.singlePage.newsDetail
    input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")
    .row
        .container.large-12.medium-12.small-12.centerBlock
            header.row
                h2 {echo $news->getTitle()}
            span {echo "Vytvořil: ".$news->getUserAlias().", ".\App\Helper\DateFormater::t2d($news->getCreated())}
        .newsContent.large-12.medium-12.small-12.centerBlock
            |{echo html_entity_decode($news->getBody())}
