.page
   section.wrapper
      .row.container
         header
            h1 {echo $news->title}
            span autor: {echo $news->userAlias}<br/>
            |{if !empty($startDate)}
            span od: <strong>{echo $news->startDate}</strong><br/>
            |{/if}
            |{if !empty($endDate)}
            span do: <strong>{echo $news->endDate}</strong><br/>
            |{/if}
            |{if !empty($startTime)}
            span od: <strong>{echo $news->startTime}</strong><br/>
            |{/if}
            |{if !empty($endTime)}
            span do: <strong>{echo $news->endTime}</strong><br/>
            |{/if}
         |{$news->body}