.page
   section.wrapper
      .row.container
         header
            h1 {echo $news->title}
            span {echo \App\Helper\DateFormater::t2d($new->created).", ".$news->userAlias}
         |{echo html_entity_decode($news->body)}