section.wrapper.novinky
    header.row
        h2 Novinky
    section.row.container
        | {foreach $new in $news}
        article
            header
                h3 {echo $new->title}
                span autor: {echo $new->userAlias}
            .body
                p {echo $new->shortBody}
                a(href!='/novinky/r/$new->urlKey') čti více
        | {/foreach}
    section.pager.row
        | {if $currentpage != 1}
        a(href='/novinky/p/1') <<
        a(href='/novinky/p/{echo $currentpage-1}') <
        | {/if}
        a(href='#').active {echo $currentpage}
        | {if $currentpage != $pagecount & $pagecount > 1}
        a(href='/novinky/p/{echo $currentpage+1}') >
        a(href='/novinky/p/{echo $pagecount}') >>
        | {/if}




