section.wrapper.novinky
    header.row
        h2 Novinky
    section.row.container
        |{if !empty($news)}
        | {foreach $new in $news}
        article
            header
                h3 {echo $new->title}
                span {echo \App\Helper\DateFormater::t2d($new->created).", ".$new->userAlias}
            .body
                div {echo html_entity_decode($new->shortBody)}
                a(href!='/novinky/r/$new->urlKey') čti více
        | {/foreach}
        |{/if}
    include ../components/pager




