section.wrapper.novinky.singlePage
    header.row
        h2 Novinky
    section.row.container
        |{if !empty($news)}
        |{foreach $new in $news}
        article
            header
                a(href!='/novinky/r/{echo $new->getUrlKey()}')
                    h3 {echo $new->getTitle()}
            .body
                div {echo html_entity_decode($new->getShortBody())}
                |{if $deviceType === 'computer'}
                a.readMore(href!='/novinky/r/{echo $new->getUrlKey()}') čti více
                |{/if}
        |{/foreach}
        |{/if}{else}
        .large-12.medium-12.small-12.columns
            h2 Žádné akce nejsou naplánované
        |{/else}
    .moreWrap.large-2.medium-3.small-6.centerBlock
        a(href='/archiv-novinek')
            .more
                span Archiv novinek
    br
    include ../components/pager
