section.wrapper.novinky
    header.row
        h2 Novinky
    section.row.container
        | {foreach $new in $news}
        article
            header
                h3 {echo $new->title}
                span Autor: {echo $new->userAlias}
            .body
                p {echo html_entity_decode($new->shortBody)}
                a(href!='/novinky/r/$new->urlKey') čti více
        | {/foreach}
    include ../components/pager




