.profil{
	#edit{
		display none
	}
	#closeEdit{
		position absolute
		background defaultBLue
		right -20px
		top 10px
		width 30px
		height 40px
		line-height 40px
		border-radius 5px
		text-align center
		color red
		font-size 21pt
		z-index 2
		&:hover{
			color defaultGreen
			right -21px
			top 11px
		}
	}
	.buttonWrapper{
		padding-top 80px
	}
	article{
		background defaultBLue
		padding .875rem
		margin-bottom 30px
		position relative
	}
}