.registration
	min-height 600px
	.container
		width 55%
		min-width 500px
		display block
		margin 0 auto
		margin-top 2rem
		margin-bottom 5rem
		padding 1.875rem
		header
			h2
				text-align center
				&:before
					padding-right 0.5em
		form
			input[type=submit], a.specialButton
				display inline-block
				height 2.4rem
				width 100%
				margin 0 auto
				font-size .95rem
				padding 0 0.5rem
				color white
				background defaultGreen
				border none
				&:hover
					background defaultBLue
					border none
			a.specialButton
				text-align center
				padding 0.5rem 0
				margin-top 0.5rem
