{if $cookieConsent == false}
<div class="cookies-consent container large-12 medium-12 small-12 columns">
  <div class="cookies-consent-text large-8 medium-7 small-12 columns">Tento web používá k poskytování služeb a analýze návštěvnosti soubory cookie.</div>
  <div class="cookies-consent-buttons large-4 medium-5 small-12 columns"><a id="cookie-ok" href="#">Rozumím</a><a href="/zasady-cookies">Více informací</a></div>
</div>
<noscript>
  <style type="text/css"></style>
  <div class="cookies-consent">{display:none}</div>
</noscript>{/if}