{if $cookieConsent == false}
<div class="cookies-consent">
  <div class="cookies-consent-text">Tento web používá k poskytování služeb a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.</div>
  <div class="cookies-consent-types">
    <label for="cookies-mandatory">Nezbytné
      <input type="checkbox" disabled="disabled" checked="checked" id="cookies-mandatory"/>
    </label>
    <label for="cookies-analytics">Statistické
      <input type="checkbox" checked="checked" id="cookies-analytics"/>
    </label>
    <label for="cookies-functional">Funkcionální
      <input type="checkbox" checked="checked" id="cookies-functional"/>
    </label>
  </div>
  <div class="cookies-consent-buttons"><a id="cookie-ok" href="#">Rozumím</a><a href="/zasady-cookies">Více informací</a></div>
</div>
<noscript>
  <style type="text/css"></style>
  <div class="cookies-consent">{display:none}</div>
</noscript>{/if}