|{if $euCookieLegal == false}
.cookies-consent
    .cookies-consent-text Tento web používá k poskytování služeb a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.
    .cookies-consent-types
        label(for='cookies-mandatory') Nezbytné
        input(type='checkbox', disabled, checked, id='cookies-mandatory')
        label(for='cookies-analytics') Statistické
        input(type='checkbox', checked, id='cookies-analytics')
    .cookies-consent-buttons
        a#cookie-ok(href='#') Rozumím
        a(href='/ochrana-soukromi') Více informací
noscript
    style(type='text/css').
    .cookies-consent {display:none}
|{/if}
