
<div class="page">
  <section class="wrapper">
    <div class="row container">
      <header>
        <h1>{echo $action->title}</h1><span>Autor: {echo $action->userAlias}<br/></span><span>Datum: <strong>{echo date("d.m. Y", strtotime($action->startDate))}</strong> - <strong>{echo date("d.m. Y", strtotime($action->endDate))}</strong><br/></span><span>Čas: <strong>{echo $action->startTime}</strong> - <strong>{echo $action->endTime}</strong><br/></span>
      </header>{echo html_entity_decode($action->body)}
    </div>
  </section>
</div>