.page
   section.wrapper
      .row.container
         header
            h1 {echo $action->title}
            span {echo \App\Helper\DateFormater::t2d($new->created).", ".$action->userAlias}
            br
            span Datum: <strong>{echo \App\Helper\DateFormater::t2d($action->startDate)}</strong> - <strong>{echo \App\Helper\DateFormater::t2d($action->endDate)}</strong>
            br
            |{if !empty($action->startTime)}
            span Čas: <strong>{echo $action->startTime}</strong> - <strong>{echo $action->endTime}</strong><br/>
            |{/if}
         |{echo html_entity_decode($action->body)}