
<div class="page">
  <section class="wrapper">
    <div class="row container">
      <header>
        <h1>{echo $action->title}</h1><span>autor: {echo $action->userAlias}<br/></span>{if !empty($startDate)}<span>od: <strong>{echo $action->startDate}</strong><br/></span>{/if}
        {if !empty($endDate)}<span>do: <strong>{echo $action->endDate}</strong><br/></span>{/if}
        {if !empty($startTime)}<span>od: <strong>{echo $action->startTime}</strong><br/></span>{/if}
        {if !empty($endTime)}<span>do: <strong>{echo $action->endTime}</strong><br/></span>{/if}
      </header>{$action->body}
    </div>
  </section>
</div>