section.wrapper.akce.singlePage
    header.row
        h2 Akce
    section.row.container
        |{if !empty($actions)}
        |{foreach $action in $actions}
        article
            |{if $action->getStartDate()}
            .date-live
                .den {echo \App\Helper\DateFormater::g2dn($action->getStartDate())}
                .mesic {echo \App\Helper\DateFormater::g2mn($action->getStartDate())}
            |{/if}
            header
                a(href!='/akce/r/{echo $action->getUrlKey()}')
                    h3 {echo $action->getTitle()}
            .body
                div {echo html_entity_decode($action->getShortBody())}
        |{/foreach}
        |{/if}{else}
        .large-12.medium-12.small-12.columns
            h2 Žádné akce v archivu nejsou
        |{/else}
    br
    include ../components/pager
    .row.moreWrap.centerBlock
        |{if !empty($actionyears)}
        |{foreach $year in $actionyears}
        a(href='/akce/archiv/{echo $year}').large-6.medium-6.small-12
            .more.min-wd-200
                span Archiv akcí {echo $year}
        |{/foreach}
        |{/if}