section.wrapper.akce
   header.row
      h2 akce
   section.row.container
      |{if !empty($actions)}
      |{foreach $action in $actions}
      article
         header
            h3 {echo $action->title}
            span {echo \App\Helper\DateFormater::t2d($action->created).", ".$action->userAlias}
         .body
            div {echo html_entity_decode($action->shortBody)}
            a(href!='/akce/r/$action->urlKey') čti více
      |{/foreach}
      |{/if}
   include ../components/pager