.page
   section.wrapper
      .row.container
         a(href!="/admin/action/{echo $act}/") Zpět do administrace
         header
            h1 {echo $action->title}
            span Autor: {echo $action->userAlias}<br/>
            span Datum: <strong>{echo date("d.m. Y", strtotime($action->startDate))}</strong> - <strong>{echo date("d.m. Y", strtotime($action->endDate))}</strong><br/>
            span Čas: <strong>{echo $action->startTime}</strong> - <strong>{echo $action->endTime}</strong><br/>
         |{echo html_entity_decode($action->body)}