font-size 13px header h3,
.container header h3 {
  width: 25% !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  text-align: center !important;
  padding-bottom: 10px !important;
  text-transform: uppercase !important;
  border-bottom: 2px solid defaultGreen !important;
  color: #000 !important;
  font-weight: 700 !important;
}
