html {
  min-height: 100%;
  background: transparent url("../../images/IMG_9650.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: none;
}
.wrapper {
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.7);
}
.wrapper.blue {
  background: headerColor;
  color: #fff;
}
.wrapper.blue h1,
.wrapper.blue h2,
.wrapper.blue h3,
.wrapper.blue h4 {
  color: #fff !important;
}
.wrapper header.row h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 2em 0;
}
.wrapper section.row.container article {
  position: relative;
  padding: 20px;
}
.wrapper section.row.container article:last-child {
  margin-bottom: 20px;
}
.wrapper section.row.container article span {
  font-style: italic;
  margin: 0;
}
.wrapper section.row.container article header h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.wrapper section.row.container article .body {
  margin-top: 1.5em;
}
.wrapper section.row.container article .body p {
  height: 50px;
  line-height: 25px;
  overflow: hidden;
}
.wrapper section.row.container article .body a {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000;
  font-weight: bold;
}
.wrapper section.row.container article .body a:hover {
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
}
.wrapper section.row.container article:nth-child(odd) {
  background: boxColor;
  border: 1px solid defaultBLue;
}
.wrapper section.row.container article:nth-child(odd) h3,
.wrapper section.row.container article:nth-child(odd) p,
.wrapper section.row.container article:nth-child(odd) span {
  color: #fff;
}
.wrapper section.row.container article:nth-child(odd) a {
  color: defaultGreen;
}
.page section.wrapper header {
  border-bottom: 2px dotted headerColor;
}
.page section.wrapper header h1 {
  text-align: left !important;
}
.content {
  width: 100%;
}
