section.wrapper.gallery.singlePage
   header.row
      h2 Galerie
   .row
      | {foreach $gallery in $galleries}
      a(href!='/galerie/r/{echo $gallery->urlKey}' title!='{echo $gallery->title}')
         .large-3.medium-6.small-12.columns.galleryWrapper
            article
               .imgWrapper
                  img(src!='{echo $gallery->getImgThumb()}')
               .info
                  h3 {echo $gallery->title}
      | {/foreach}
   include ../components/pager
