.topPanel header {
  margin-top: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.topPanel header a h1 {
  font-weight: 700;
  height: 112px;
  line-height: 112px;
  color: #fff;
  width: 260px;
  margin: 0 auto;
  text-transform: uppercase;
}
.topPanel header a h1:after {
  content: ' ';
  background: url("../../images/Logo_Hastrmnek%20copy.png") no-repeat;
  background-size: 300px 300px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 291px;
  left: -245px;
}
.topPanel header a:hover h1 {
  color: defaultGreen;
}
.topPanel header .navWrapper {
  padding: 0;
  margin: 0;
  height: 112px;
}
.topPanel header .navWrapper nav {
  min-width: 600px;
  max-width: 600px;
  bottom: 10px;
  margin: 0 auto;
}
.topPanel header .navWrapper nav ul {
  position: relative;
  margin-left: 0;
  margin-right: 0.875rem;
  float: right;
  list-style-type: none;
}
.topPanel header .navWrapper nav ul li {
  display: block;
  height: 112px;
  line-height: 112px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
.topPanel header .navWrapper nav ul li:last-child {
  border: 0px;
  padding-right: 0;
}
.topPanel header .navWrapper nav ul a {
  color: #fff;
  font-size: 1.25rem;
}
.topPanel header .navWrapper nav ul a:hover {
  color: defaultGreen;
}
.topPanel header .navWrapper nav ul li {
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 15px;
  padding-left: 15px;
}
.topPanel #dropdown {
  display: none;
  background-color: transparent;
  overflow: hidden;
  text-align: right;
  position: relative;
}
.topPanel #dropdown .submenu {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.topPanel #dropdown ul {
  float: right;
  position: relative;
  margin-left: 1em;
  padding-right: 1em;
  border-right: 1px solid #fff;
  list-style-type: none;
}
.topPanel #dropdown ul:first-child {
  border: 0;
}
.topPanel #dropdown ul li a {
  color: #fff;
}
.topPanel #dropdown ul li a:hover {
  color: defaultGreen;
}
