section.wrapper.reports.singlePage
    header.row
        h2 Archiv reportáží
    section.row.container
        |{if !empty($reports)}
        |{foreach $report in $reports}
        article
            header
                a(href!='/reportaze/r/{echo $report->getUrlKey()}')
                    h3 {echo $report->getTitle()}
            .body
                div {echo html_entity_decode($report->getShortBody())}
                |{if $deviceType === 'computer'}
                a.readMore(href!='/reportaze/r/{echo $report->getUrlKey()}') čti více
                |{/if}
        |{/foreach}
        |{/if}{else}
        .large-12.medium-12.small-12.columns
            h2 Žádné reportáže v archivu nejsou
        |{/else}
    include ../components/pager