section.wrapper.reports.singlePage
   header.row
      h2 Reportáže
   .row
      |{if !empty($reports)}
      |{foreach $report in $reports}
      a(href!='/reportaze/r/{echo $report->getUrlKey()}')
         article.report.medium-4.left
            img(src!='{echo $report->getImgThumb()}')
            .info
               h2 {echo $report->getTitle()}
               span {echo "Vytvořil: ".$report->getUserAlias().", ".\App\Helper\DateFormater::t2d($report->getCreated())}
               div {echo html_entity_decode($report->getShortBody())}
      |{/foreach}
      |{/if}
   include ../components/pager