section.wrapper.reports
   header.row
      h2 Reportáže
   .row
      |{foreach $report in $reports}
      a(href!='/reportaze/r/{echo $report->urlKey}')
         article.report.medium-4.left
            img(src!='{echo $report->imgThumb}')
            .info
               h2 {echo $report->title}
               span {echo $report->created.", ".$report->userAlias}
               p {echo $report->shortBody}
      |{/foreach}
   include ../components/pager