section.wrapper.reports.singlePage
   header.row
      h2 Reportáže
   |{if !empty($reports)}
   .row
      |{foreach $report in $reports}
      a(href!='/reportaze/r/{echo $report->getUrlKey()}')
         article.report.medium-4.left
            img(src!='{echo $report->getImgThumb()}')
            .info
               h2 {echo $report->getTitle()}
               div {echo html_entity_decode($report->getShortBody())}
      |{/foreach}
   .moreWrap.large-2.medium-3.small-6.centerBlock
      a(href='/archiv-reportazi')
         .more
            span Archiv reportáží
   |{/if}
   include ../components/pager