section.wrapper.report
   .row
      a(href!="/admin/report/{echo $act}/") Zpět do administrace
   header.row
      .imgWrapper
         img(src!='{echo $report->getImgMain()}')
      .reportInfo
         h2 {echo $report->getTitle()}
         span {echo \App\Helper\DateFormater::t2d($report->getCreated())}
         br
         small
            span Autor:
         span {echo " ".$report->getUserAlias()}
   .page.row
      .container
         |{echo html_entity_decode($report->getBody())}
