section.wrapper.report
   .row
      a(href!="/admin/report/{echo $act}/") Zpět do administrace
   header.row
      .imgWrapper
         img(src!='$report->imgMain')
      .reportInfo
         h2 {echo $report->title}
         span {echo \App\Helper\DateFormater::t2d($report->created)}<br/>
         small
            span Autor:
         span {echo " ".$report->userAlias}
   .page.row
      .container
         |{echo html_entity_decode($report->body)}
