.moreWrap {
  position: absolute;
  left: 50%;
  height: 40px;
  line-height: 40px;
  width: 140px;
  bottom: 4%;
  z-index: 100;
}
.moreWrap .more {
  position: relative;
  text-align: center;
  left: -50%;
  height: 40px;
  line-height: 40px;
  background: defaultGreen;
}
.moreWrap .more span {
  height: 40;
  line: height 40;
  width: 100%;
  color: #fff;
}
.moreWrap .more.blue:hover {
  background: #fff;
}
.moreWrap .more.blue:hover span {
  color: #000;
}
.moreWrap .more:hover {
  background: headerColor;
}
.moreWrap .more:hover span {
  color: #fff;
}
