.headerColor header {
  position: relative;
  z-index: 2;
}
.headerColor header a h1 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.headerColor header a:hover h1 {
  color: defaultGreen;
}
.headerColor header .navWrapper {
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 0;
  margin: 0;
}
.headerColor header .navWrapper nav {
  float: right;
  bottom: 10px;
}
.headerColor header .navWrapper nav ul {
  position: relative;
  float: right;
  margin-left: 1rem;
  list-style-type: none;
}
.headerColor header .navWrapper nav ul li {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
.headerColor header .navWrapper nav ul li:last-child {
  border: 0px;
  padding-right: 0;
}
.headerColor header .navWrapper nav ul a {
  color: #fff;
  font-size: 1.25rem;
}
.headerColor header .navWrapper nav ul a:hover {
  color: defaultGreen;
}
.headerColor header .navWrapper nav ul li {
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 15px;
  padding-left: 15px;
}
.headerColor #dropdown {
  display: none;
  background-color: headerColor;
  overflow: hidden;
  text-align: right;
  position: relative;
}
.headerColor #dropdown ul {
  float: right;
  position: relative;
  margin-left: 1em;
  padding-right: 1em;
  border-right: 1px solid #fff;
  list-style-type: none;
}
.headerColor #dropdown ul:first-child {
  border: 0;
}
.headerColor #dropdown ul li a {
  color: #fff;
}
.headerColor #dropdown ul li a:hover {
  color: defaultGreen;
}
