section.wrapper.singlePage
    .row
        .container.large-10.medium-10.small-12.centerBlock.mv30
            header
                h2.fi-results-demographics Ochrana soukromí
            hr
            div
                h4 Co je soubor cookie
                div Cookie je krátký textový soubor, který navštívená webová stránka odešle do prohlížeče. Umožňuje webu zaznamenat informace o vaší návštěvě, například preferovaný jazyk a další nastavení. Příští návštěva stránek tak může být snazší a produktivnější. Soubory cookie jsou důležité. Bez nich by procházení webu bylo mnohem složitější.
            hr
            div 
                h4 Všechny naše internetové stránky shromažďují následující informace o návštěvnících stránek
                div Informace, které jsou nepovinné a uživatelé je poskytují dobrovolně. Jedná se o jméno, případně přezdívku, e-mailovou adresu, popřípadě telefonní číslo a další údaje v profilech jednotlivých účtů stránek. Toto jsou dobrovolně poskytnuté informace užívané pro účast v komentářích ke článku, popřípadě pro odběr informací o nových akcích a reportážích.
                br
                div Pasivně shromažďované informace (tj. jsou obdrženy, aniž byste aktivně zadali informace) za použití různých technologií a způsobů jako například Internet Protocol adres, cookies, Internet Tags apod. Tyto informace umožní lépe přizpůsobit obsah stránek potřebám uživatelů a slouží hlavně k analytických účelům.
            hr
            div
                h4 Správa souborů cookie v prohlížeči
                div Někteří lidé si ukládání souborů cookie nepřejí. To je důvod, proč nejnovější prohlížeče umožňují spravovat soubory cookie dle libosti.
                br
                div V některých prohlížečích můžete nastavit pravidla pro soubory cookie jednotlivých webů, což vám poskytuje lepší kontrolu nad svým soukromím. Můžete zakázat ukládání souborů cookie ze všech webů kromě stránek, kterým důvěřujete.
            