
<section class="wrapper login">
  <div class="row">
    <div class="small-12 columns">
      <div class="container">
        <header>
          <h2 class="fi-torso">Přihlášení</h2>
        </header>
        <form method="POST" action="#">{if isset($errors["account_error"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["account_error"])}</label>{/if}
          <input type="email" name="email" placeholder="Váš@email.cz" required="required"/>{if isset($errors["email_error"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["email_error"])}</label>{/if}
          <input type="password" name="password" placeholder="Vaše heslo" required="required"/>{if isset($errors["password_error"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["password_error"])}</label>{/if}
          <input type="submit" name="submitLogin" value="Přihlásit"/><br/><br/><span>Nemáte účet? <a href="/registrace">Registrace zde</a></span>
          <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
        </form>
      </div>
    </div>
  </div>
</section>