
<section class="wrapper login">
  <div class="row">
    <div class="small-12 columns">
      <div class="container">
        <header>
          <div class="loginInfo">
            <p class="fi-info">Pro přidání nového inzerátu musíte být přihlášen(a) <br/> Pokud nemáte účet, prosím<a href="/registrace"> zaregistrujte se nyní</a></p>
          </div>
          <h2 class="fi-torso">Přihlášení</h2>
        </header>
        <form method="POST" action="#">
          <input type="email" name="email" placeholder="Váš@email.cz"/>
          <input type="password" name="password" placeholder="Vaše heslo"/>
          <input type="submit" name="submitLogin" value="přihlásit"/>
        </form>
      </div>
    </div>
  </div>
</section>