section.wrapper.login
   .row
      .small-12.columns
         .container
            header
               .loginInfo
                  p.fi-info Pro přidání nového inzerátu musíte být přihlášen(a) <br/> Pokud nemáte účet, prosím
                     a(href='/registrace')  zaregistrujte se nyní

               h2.fi-torso Přihlášení
            form(method='POST' action='#')
               input(type='email' name='email' placeholder='Váš@email.cz')
               input(type='password' name='password' placeholder='Vaše heslo')
               input(type='submit' name='submitLogin' value='přihlásit')



