section.wrapper.profil.singlePage
	.row
		.buttonWrapper.large-10.medium-12.small-12.centerBlock
			ul
				li
					a(href="#").fi-pencil#openEdit Upravit údaje
				li
					a(href="/smazat-ucet").fi-trash.red-text#delete-account Smazat účet
					
	.row
		article.small-12.large-10.medium-10.centerBlock#info
			table
				tr
					td
						span Jméno:
					td {echo $user->firstname." ".$user->lastname}
				tr
					td
						span Telefon:
					td {echo $user->phoneNumber}
				tr
					td
						span Email:
					td {echo $user->email}
				tr
					td
						span Informace na email:
					|{if $user->getNewActionNotification || $user->getNewReportNotification || $user->getNewNewsNotification}
					td
						|{if $user->getNewActionNotification}Souhlasím se zasíláním informací o akcích na e-mail<br/>{/if}
						|{if $user->getNewReportNotification}Souhlasím se zasíláním informací o reportážích na e-mail<br/>{/if}
						|{if $user->getNewNewsNotification}Souhlasím se zasíláním informací o novinkách na e-mail<br/>{/if}
					|{/if}{else}
					td Nedostávám žádné informace emailem
					|{/else}
				tr
					td
						span Omezení zpracování osobních údajů:
					td
						|{if $user->pdLimitProcessing}Je aktivní{/if}{else}Není aktivní{/else}
		article.small-12.large-10.medium-10.centerBlock#edit
			a(href="#").fi-x-circle#closeEdit
			form(method="post", action="#")
				input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")
				table
					tr
						td
							span Jméno:
						td
							|{if isset($errors["firstname"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["firstname"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("text", "firstname", array($user,"firstname"), array("required"=>true))}
					tr
						td
							span Příjmení:
						td
							|{if isset($errors["lastname"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["lastname"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("text", "lastname", array($user,"lastname"), array("required"=>true))}
					tr
						td
							span Telefon:
						td
							|{if isset($errors["phoneNumber"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["phoneNumber"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("tel", "phone", array($user,"phone"))}
					tr
						td
							span Informace na email:
						td
							label
								|{if $user->getNewActionNotification}
								input(type="checkbox",name="actionNotification",value="1", checked="checked")
								|{/if}{else}
								input(type="checkbox",name="actionNotification",value="1")
								|{/else}
								|&nbsp;Souhlasím se zasíláním informací o akcích na e-mail
							label
								|{if $user->getNewReportNotification}
								input(type="checkbox",name="reportNotification",value="1", checked="checked")
								|{/if}{else}
								input(type="checkbox",name="reportNotification",value="1")
								|{/else}
								|&nbsp;Souhlasím se zasíláním informací o reportážích na e-mail
							label
								|{if $user->getNewNewsNotification}
								input(type="checkbox",name="newsNotification",value="1", checked="checked")
								|{/if}{else}
								input(type="checkbox",name="newsNotification",value="1")
								|{/else}
								|&nbsp;Souhlasím se zasíláním informací o novinkách na e-mail
					tr
						td
							span Email:
						td
							|{if isset($errors["email"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["email"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("email", "email", array($user,"email"), array("required"=>true))}
					tr
						td
							span Původní heslo:
						td
							|{if isset($errors["oldpass"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["oldpass"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("password", "oldpass", array(), array("pattern" => ".#(6,)#", "title" => "min. 6 znaků", "placeholder" => "nepovinné (v případě, že nechcete měnit heslo)"))}
					tr
						td
							span Heslo:
						td
							|{if isset($errors["password"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["password"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("password", "password", array(), array("pattern" => ".#(6,)#", "title" => "min. 6 znaků", "placeholder" => "nepovinné (v případě, že nechcete měnit heslo)"))}
					tr
						td
							span Ověření hesla:
						td
							|{if isset($errors["password2"])}
							label.error.fi-alert
								|{echo implode("<br/>", $errors["password2"])}
							|{/if}
							|{echo \App\Helper\FormPrinter::input("password", "password2", array(), array("pattern" => ".#(6,)#", "title" => "min. 6 znaků", "placeholder" => "nepovinné (v případě, že nechcete měnit heslo)"))}
					tr
						td
							span Omezení zpracování osobních údajů:
						td
							label
								|{if $user->pdLimitProcessing}
								input(type="checkbox",name="pdLimitProcessing",value="1", checked="checked")
								|{/if}{else}
								input(type="checkbox",name="pdLimitProcessing",value="1")
								|{/else}
								|&nbsp;Přeji si omezit zpracování osobních údajů
					tr
						td(colspan=2)
							input(type="submit", name="editProfile", value="Upravit").more
	.row
		article.small-12.large-10.medium-10.centerBlock
			table
				tr
					td(colspan='2')
						strong Akce, kterých se účastním:
				tr
					td Akce
					td Datum konání
				|{if !empty($myactions)}
				|{foreach $action in $myactions}
				tr
					td
						|<a href="/akce/r/{echo $action->getUrlKey()}" target="_blank">{echo $action->getTitle()}</a>
					td {echo \App\Helper\DateFormater::t2d($action->getStartDate())} - {echo \App\Helper\DateFormater::t2d($action->getEndDate())}
				|{/foreach}
				|{/if}
