
<section class="wrapper login">
  <div class="row">
    <div class="small-12 columns">
      <div class="container">
        <header>
          <h2 class="fi-check">Registrace</h2>
        </header>
        <form method="post" action="#">
          <input type="text" placeholder="Jméno" name="firstname" required="required"/>{if isset($errors["firstname"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["firstname"])}</label>{/if}
          <input type="text" placeholder="Příjmení" name="lastname" required="required"/>{if isset($errors["lastname"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["lastname"])}</label>{/if}
          <input type="tel" placeholder="Kontaktní telefon" name="phone" required="required"/>{if isset($errors["phoneNumber"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["phoneNumber"])}</label>{/if}
          <input type="email" placeholder="Kontaktní email" name="email" required="required"/>{if isset($errors["email"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["email"])}</label>{/if}
          <input type="password" placeholder="Heslo" pattern=".{5,}" title="min. 5 znaků" name="password" required="required"/>{if isset($errors["password"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["password"])}</label>{/if}
          <input type="password" placeholder="Ověření hesla" pattern=".{5,}" title="min. 5 znaků" name="password2" required="required"/>{if isset($errors["password2"])}
          <label class="error fi-alert">{echo join("<br/>", $errors["password2"])}</label>{/if}
          <input type="submit" name="register" value="Registrovat"/>
          <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
          <input type="hidden" name="submstoken" id="submstoken" value="{echo $submstoken}"/>
        </form>
      </div>
    </div>
  </div>
</section>