
<section class="wrapper login">
  <div class="row">
    <div class="small-12 columns">
      <div class="container">
        <header>
          <h2 class="fi-check">Registrace</h2>
        </header>
        <form method="post" action="/bazar/pridat">
          <input type="text" placeholder="Jméno" name="firstname" required="required"/>
          <input type="text" placeholder="Příjmení" name="lastname" required="required"/>
          <input type="tel" placeholder="Kontaktní telefon" name="phone" required="required"/>
          <input type="email" placeholder="Kontaktní email" name="email" required="required"/>
          <input type="password" placeholder="Heslo" name="password" required="required"/>
          <input type="submit" name="registr" value="Registrovat"/>
        </form>
      </div>
    </div>
  </div>
</section>