.gallery
	.galleryWrapper
		height 280px

	article
		height 280px
		transition: all 400ms ease;
		position relative
		h3
			text-align center
			overflow hidden
			text-overflow ellipsis
			white-space nowrap

		.imgWrapper
			height 280px
			overflow hidden
			img
				height 100%
				width 100%
			.small
				margin 2rem 3.7rem
				width 60% !important
				height 60%
		.info
			position absolute
			bottom 0
			text-align center
			background rgba(0, 0, 0, 0.7)
			transition top 0.8s ease;
			width 100%
			h3
				padding 10px 20px
				color white
		&:hover
			background defaultBLue
			transition: all 400ms ease;
			.info
				h3
					color defaultGreen
.galleryDetail
	.videoContainer
		margin-bottom 2rem
		.video
			height 300px
	.image
		text-align center
		height 170px
		img
			height 170px
			width auto
