.gallery
	.galleryWrapper
		height:300px;

	article
		height:280px;
		background #ffffff
		border-radius 5px;
		border 1px solid defaultBLue
		transition: all 400ms ease;
		h3
			text-align center
			overflow hidden
			text-overflow ellipsis
			white-space nowrap

		.imgWrapper
			height 222px
			overflow hidden
			img
				border-top-left-radius 5px;
				border-top-right-radius 5px;
				height 100%
				width 100%
		.info
			h3
				padding 5px 10px
		&:hover
			background defaultBLue
			transition: all 400ms ease;
			.info
				h3
					color white
.galleryDetail
	.image
		text-align center
		height 170px
		img
			height 170px
			width auto



