.basic-button
	height 2.4rem
	width 100%
	margin 0 auto
	font-size .95rem
	padding 0 0.5rem
	color white
	background defaultGreen
	border none
	&:hover
		background defaultBLue
		border none