
section.wrapper.report{
	header{
		border 2px solid headerColor
		border-top none
		position relative
		margin-bottom 40px
		.imgWrapper{
			height 580px
			overflow hidden
			width 100%
			img{
				width 100%
				min-height 580px
			}
		}
		.reportInfo{
			height 100%
			background rgba(0,0,0,1)
			padding 10px
			text-align center
			h2 {
				color white
				width 100%
				margin 0
				margin-top 20px
				padding 0
				padding-bottom 35px
				border 0

			}
			span{
				color white
			}
		}
	}
	.container{
		padding-bottom 40px
	}

}