section.wrapper.report
	header
		position relative
		.reportInfo
			border 2px solid rgba(0,80,148,.8)
			border-top none
			background rgba(0,93,148,.6)
			padding 10px 0
			text-align center
			position absolute
			z-index 1
			height auto
			h2
				color white
				width 100%
				margin 0
				margin-top 20px
				padding 0
				padding-bottom 35px
				border 0
			span
				color white
	.imgWrapper
		height auto
		max-height 500px
		min-height 150px
		overflow hidden
		padding 0 !important
		margin-bottom 2rem
		img
			width 100%
	.page
		.container
			padding-bottom 40px
			&.top-padded
				margin-top 8rem
