.page section.wrapper{
	overflow hidden
	padding 50px 0px
	.container{
		h1{
			text-align center
			text-transform uppercase
			font-weight 600
		}
		h2{
			-webkit-box-shadow: 0px -42px 3px -34px headerColor
			-moz-box-shadow: 0px -42px 3px -34px headerColor
			box-shadow: 0px -42px 3px -34px headerColor
			padding-top 20px
		}
		a{
			color secondaryBlue
			&:hover{
				color defaultBLue
			}
		}
		ul{
			list-style-type circle
		}
		hr{
			border-color headerColor
		}
	}

}