#carousel{
	padding-top 20px;
	background transparent
	a{
		margin 8px
		padding 15px
		float left
		height 270px
		-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow:2px 2px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		color black
		border-radius 8px
		border:2px solid black
		overflow hidden
		text-overflow ellipsis
		background-color white
		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
		&:hover{
			border-color defaultBLue
			margin-top -2px;
			background-color defaultGreen
			-webkit-transition: all 0.7s ease-out;
			-moz-transition: all 0.7s ease-out;
			-o-transition: all 0.7s ease-out;
			transition: all 0.7s ease-out;
		}
		p{
			height:auto
			overflow hidden
			line-height 22px;
		}
		header{
			margin-bottom 1em
			h4{
				margin-bottom 0
				color black
				font-weight 700
			}
			.datum{
				font-style italic
				font-size 0.7em
				line-height 0.7em
				margin 0
			}
		}
	}
	
}