.actions-wrapper
	&>a
		color black
		display block
		float left
		padding 0 8px 10px 8px
		@media (max-width:640px)
			&:nth-child(even)
			&:not(:nth-child(even))
				padding 0 20px 20px

	.article-item
		background-color white
		box-shadow 0 0 5px rgba(black, .4)
		overflow hidden
		header
			height 70px
			.date
			.name
				float left
				display inline-block
				text-align:center
			.name
				margin-left 10px
				text-align left
				width calc(100% - 90px)
				h4
					line-height 70px
					height 70px
					text-overflow ellipsis
					overflow hidden
					white-space nowrap
					margin-bottom 0
					color black
					font-weight 700
			.date
				width 80px
				height 75px
				box-shadow 0 0 1px rgba(black, 0.2)
				.den
					height 50px
					line-height 50px
					background-color white
					font-size 30px
					font-weight bold
				.mesic
					background-color #a61d1d
					height 30px
					line-height 30px
					font-size 17px
					font-weight bold
			margin-bottom 1em
			.datum
				font-style italic
				font-size 0.7em
				line-height 0.7em
				margin 0
