.moreWrap{
	position:absolute
	left 50%
	height 40px
	line-height 40px
	width:140px;
	bottom 4%
	z-index 100
	.more{
		position relative
		text-align center
		left -50%
		height 40px;
		line-height 40px;
		background defaultGreen
		span{
			height 40
			line height 40
			width 100%
			color white
		}
		&.blue:hover{
			background white
			span{
				color black
			}
		}
		&:hover{
			background headerColor
			span{
				color white
			}
		}
	}
}