.bx-wrapper{
	.bx-viewport{
		ul.bxslider{
			position relative
			img{
				width 100%
			}
			.nadpisWrapper{
				left 50%
				top 200px
				position absolute
				width 60%
				height 62px
				.nadpis{
					left -50%
					background rgba(255,255,255,0.6)
					position relative
					text-align center
					overflow hidden
					a{
						color black!important
						&:hover{
							text-decoration underline
							font-weight bold
						}
					}

				}
			}
		}
	}
	.bx-controls{
		.bx-pager{
			width 12%
			left 44%
			background rgba(255,255,255,0.6)
			height 1.5em
			line-height 1.5em
			padding-top 0.5em
			bottom 2em
			.bx-pager-link{
				background secondaryBlue
				&.active{
					background defaultBLue !important
				}
			}
		}
		.bx-controls-directions{
		}
	}
}