.homepage section.wrapper
	padding-top 40px
	padding-bottom 40px
	@import"button-more"
	.container
		header
			.feedback
				position absolute
				left 0

			h3
				width 25%
				min-width 170px
				margin 0 auto;
				margin-bottom 20px;
				text-align center;
				padding-bottom 10px
				text-transform uppercase
				border-bottom 2px solid defaultGreen
				color black
				font-weight 700
				&:before
					padding-right 1rem



		@import "reports"
		.container-box
			background transparent
			position relative
			height 100%
			&:before
				content ""
				display table

			&:after
				content ""
				display table
				clear both


			@import "novinky"

			@import "partneri"

		.partneri
			float left
			width 100%
	@import "akce"



