article.indexNew{
	float left
	width 45%
	height 220px
	margin-left 2.5%
	margin-right 2.5%
	background white
	color black
	padding 10px;
	p{
		height 100px
		line-height 25px
		overflow hidden
		padding 0 1em
		margin-top 20px
	}
	header{
		a{
			&:hover{
				h4{
					text-decoration underline
					color defaultGreen
				}
			}
		}
		h4{
			text-transform uppercase
			font-size 1.1em
			font-weight 600
			color black !important
			text-align center
		}
	}
}