article.indexNew{
	background white
	color black
	padding 15px 5px 5px;
	degr=-2deg;
	position relative
	margin 2em 0;
	-ms-transform: rotate(degr); /* IE 9 */
	-webkit-transform: rotate(degr); /* Chrome, Safari, Opera */
	transform: rotate(degr);
	&:before{
		position absolute
		left 70%
		color defaultGreen
		top -20px
		font-size 3em
		font-weight 400
	}
	p{
		height 100px
		line-height 25px
		overflow hidden
		padding 0 1em
		margin-top 1em
		padding-left 2em
		position: relative
	}
	header{
		a{
			&:hover{
				h4{
					text-decoration underline
					color defaultGreen
					&:before{
						text-decoration none
					}
				}
			}
		}
		h4{
			text-transform uppercase
			font-size 1.1em
			font-weight 600
			color black!important
			text-align center
			margin 0

		}
	}
}