article.indexNew{
	float left
	width 140px
	margin-left 13.3px
	margin-right 13.3px
	background white
	color black
	padding 10px;
	header{
		a{
			&:hover{
				h4{
					text-decoration underline
					color defaultGreen
				}
			}
		}
		h4{
			text-transform uppercase
			font-size 1.1em
			font-weight 600
			color black !important
			text-align center
		}
	}
}