.akce
	.actions-wrapper
		&>a
			color black
			display block
			float left
			&:nth-child(odd)
				padding 0 10px 20px 0px
			&:not(:nth-child(odd))
				padding 0 0 20px 10px
			@media (max-width:640px)
				&:nth-child(odd)
				&:not(:nth-child(odd))
					padding 0 20px 20px
		.article-item
			height 300px
			background-color white
			box-shadow 0 0 5px rgba(black, .4)
			overflow hidden
			&> div
				padding 0 20px 20px
			header
				height 70px
				.date
				.name
					float left
					display inline-block
					text-align:center
				.name
					width calc(100% - 60px)
					h4
						line-height 70px
						height 70px
						text-overflow ellipsis
						overflow hidden
						white-space nowrap
				.date
					width 60px
					height 70px
					box-shadow 0 0 1px rgba(black, 0.2)
					.den
						height 48px
						line-height 48px
						background-color white
						font-size 36px
						font-weight bold
					.mesic
						background-color #a61d1d
						height 22px
						line-height 22px
						font-weight bold
				margin-bottom 1em
	.container
		overflow auto
		&:before
			content ""
			display table


		&:after
			content ""
			display table
			clear both


		article
			position relative
			padding-left 110px !important
			header
				a
					&:hover
						text-decoration underline




			.date
				background rgba(0,0,0,0.8)
				position absolute
				left 15px
				top 20px
				width 80px
				height 80px
				text-align center
				color white
				.den
					width 100%
					border-bottom 2px solid #ffffff
					text-align center
					font-size 24px
					color white

				.mesic
					font-size 18px
					line-height 40px
					color white




	.moreWrap
		margin-top .5rem
		&:first-of-type
			margin-top 2.5rem




