.akce
	.container
		overflow auto
		&:before
			content ""
			display table
		&:after
			content ""
			display table
			clear both
		article
			position relative
			padding-left 110px !important
			min-height 110px !important
			header
				a
					&:hover
						text-decoration underline
			.date-live
			.date
				position absolute
				left 15px
				top 20px
				width 80px
				height 80px
				text-align center
				color white
				.den
					width 100%
					border-bottom 2px solid #ffffff
					font-size 24px
					line-height 40px
				.mesic
					font-size 18px
					line-height 40px

			.date
				background rgba(0,0,0,0.8)
			.date-live
				float left
				display inline-block
				box-shadow 0 0 1px rgba(black, 0.2)
				background-color #a61d1d
			.body, p, font
				line-height 25px !important

	.moreWrap
		margin-top .5rem
		&:first-of-type
			margin-top 2.5rem
		.more
			width 33% !important
			float left
			margin-right .1rem
