footer.wrapper{
	padding-top 20px;
	padding-bottom 10px;
	margin 0
	.container{
		header {
			h3 {
				width 25%
				margin 0 auto;
				margin-bottom 20px;
				text-align center;
				padding-bottom 10px
				text-transform uppercase
				border-bottom 2px solid defaultGreen
				color black
				font-weight 700
			}
		}
		p{
			width 280px
			height 280px
			margin 0 auto
			border-bottom 1px dotted defaultGreen
			text-align center
			padding-top 0.875rem

		}
	}
}
