.searchWrapper
	float right
	.fulltextsearch
		padding-top 1em
		position relative
		input[type="text"]
			width 80% !important

		.close
			position absolute
			top 14px
			right -55px
			&:hover
				color red


		a:before
			margin-left 0.5em
			font-size 24pt

		a
			color #ffffff
			&:hover
				color defaultGreen

