.navWrapper{
	padding 0
	margin 0
	height 112px
	.showMenu{
		display none
	}
	nav{
		width 100%
		bottom 10px
		margin 0 auto
		ul{
			position relative
			margin-left 0
			margin-right 0.875rem
			float right
			list-style-type: none;
			li{
				display block
				height 112px
				line-height 112px
				padding-left 20px
				padding-right 20px
				border 0
				position relative
				&.active{
					a {
						color defaultGreen
					}
					ul{
						display block
						li{
							a{
								color white
							}
						}
					}
				}
				a{
					z-index 110000
				}
				&:last-child{
					border 0px
					padding-right 0
				}
				ul{
					display none
					position absolute
					z-index 10
					top 19px
					left -10px
					margin 0
					padding 0 20px 10px
					background defaultBLue
					height auto
					border-bottom-left-radius 5px
					border-bottom-right-radius 5px
					li{
						float left
						border 0
						display block
						height auto
						line-height 1.5
						width 100%
						margin 0
						padding 0
						&:first-child{
							padding-top 10px
						}
						a{
							white-space nowrap
							font-size 1em
						}
					}
				}

			}

			a{
				color white
				font-size 1.25rem
				&:hover{
					color defaultGreen
				}
			}

			li{
				display inline
				border-right 1px solid white
				padding-right 15px
				padding-left 15px
			}
		}
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navWrapper{
		height auto
		position absolute
		top 83px
		.showMenu{
			display block
			width 100%
			color white
			text-align center
			font-size 1.2em
			padding 0.5em
			background defaultBLue
		}
		nav{
			display none
			&:before{
				content ''
				display table
			}
			&:after{
				content ''
				display table
				clear both
			}
			ul{
				width 100%
				margin 0

				z-index 10000
				li{
					line-height 1.5
					width 100%
					text-align center
					padding 0.5em !important
					display block
					background defaultBLue
					height auto

					ul{
						position relative
						margin 0
						padding 0
						width 100%
						background defaultGreen
						top 0
						left 0
						li{
							background defaultGreen
							&:first-child{
								padding 0
							}
							width 100%
							a{
								color defaultBLue
							}
						}
					}
				}
			}
		}
	}
}