.topPanel{
	background defaultBLue !important;
	header{
		margin-top 0
		padding 0
		position relative
		z-index 2
		a{
			h1{
				font-weight 700
				height 112px
				line-height 112px
				color white
				width 260px
				margin 0 auto
				text-transform uppercase
				&:after{
					content ' '
					background url('../../images/Logo_Hastrmnek.png') no-repeat
					background-size 230px 215px
					width 240px
					height 240px
					position absolute
					top 291px
					left -245px
				}
			}
			&:hover{
				h1{
					color defaultGreen

				}
			}
		}
		@import "header-menu"

	}
	@import "header-submenu"
	@import "header-search"
}



