
<section class="wrapper pridatInzerat singlePage">
  <div class="row">
    <form method="post" action="#" enctype="multipart/form-data" class="large-8 medium-10 small-12 centerBlock uploadForm mv30">
      <input type="hidden" name="MAX_FILE_SIZE" value="15000000"/>
      <table>
        <tr>
          <td><span>Název</span></td>
          <td>{if isset($errors["title"])}
            <label class="error">{echo join("<br/>", $errors["title"])}</label>{/if}
            <input type="text" name="title" required="required" pattern=".{5,}" title="min. 5 znaků" value="{echo \App\Helper\FormPrinter::iset($ad,'title')}"/>
          </td>
        </tr>
        <tr>
          <td><span>Sekce</span></td>
          <td>
            <select name="section">
              {foreach $section in $adsections}
              {if isset($ad) && $ad->getSectionId() == $section->getId()}
              <option value="{echo $section->getId()}" selected="selected">{echo $section->getTitle()}</option>{/if}{else}
              <option value="{echo $section->getId()}">{echo $section->getTitle()}</option>{/else}
              {/foreach}
            </select>
          </td>
        </tr>
        <tr>
          <td><span>Typ</span></td>
          <td>
            <select name="type">{if isset($ad) && $ad->getAdType() == 'demand'}
              <option value="tender">Nabídka</option>
              <option value="demand" selected="selected">Poptávka</option>{/if}{else}
              <option value="tender" selected="selected">Nabídka</option>
              <option value="demand">Poptávka</option>{/else}
            </select>
          </td>
        </tr>
        <tr>
          <td><span>Obsah</span></td>
          <td>{if isset($errors["content"])}
            <label class="error">{echo join("<br/>", $errors["content"])}</label>{/if}
            <textarea name="content" required="required" rows="8">{echo \App\Helper\FormPrinter::iset($ad,'content')}</textarea>
          </td>
        </tr>
        <tr>
          <td><span>Klíčová slova</span></td>
          <td>{if isset($errors["keywords"])}
            <label class="error">{echo join("<br/>", $errors["keywords"])}</label>{/if}
            {echo \App\Helper\FormPrinter::textInput('keywords', array($ad,'keywords'), true, '', "Pro rychlejší vyhledávání v bazaru")}
          </td>
        </tr>
        <tr>
          <td><span>Cena</span></td>
          <td>{if isset($errors["price"])}
            <label class="error">{echo join("<br/>", $errors["price"])}</label>{/if}
            <input type="text" name="price" placeholder="při nevyplnění bude hodnota: &quot;dohodou&quot;" value="{echo \App\Helper\FormPrinter::iset($ad,'price')}"/>
          </td>
        </tr>
        <tr>
          <td><span>Fotky</span></td>
          <td>{if isset($errors["uploadfile"])}
            <label class="error">{echo join("<br/>", $errors["uploadfile"])}</label>{/if}
            <p><span>K inzerátu mohou být připojeny maximálně 3 fotky</span><br/><span class="field"><a href="#" class="multi_upload fi-plus mh10"></a><a href="#" class="multi_upload_dec fi-minus mh10"></a></span><span class="field file_inputs">
                <input type="file" name="uploadfile[]" accept="image/*"/></span></p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
            <input type="hidden" name="submstoken" id="submstoken" value="{echo $submstoken}"/>
            <input type="submit" name="submitAddAdvertisement" value="Přidat" class="more"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>