
<section class="wrapper pridatInzerat singlePage">
  <header class="row">
    <h2>Úprava inzerátu</h2>
  </header>
  <div class="row">
    <form method="post" action="#" enctype="multipart/form-data" class="large-8 medium-10 small-12 centerBlock uploadForm mv30">
      <input type="hidden" name="MAX_FILE_SIZE" value="18000000"/>
      <table>
        <tr>
          <td><span>Platnost do</span></td>
          <td>{echo \App\Helper\DateFormater::t2d(\App\Helper\FormPrinter::iset($ad,"expirationDate"))}</td>
        </tr>
        <tr>
          <td><span>Název</span></td>
          <td>{if isset($errors["title"])}
            <label class="error">{echo join("<br/>", $errors["title"])}</label>{/if}
            {echo \App\Helper\FormPrinter::input("text", "title", array($ad,"title"), array("required"=>true, "pattern" => ".#(5,)#", "title" => "min. 5 znaků"))}
          </td>
        </tr>
        <tr>
          <td><span>Sekce</span></td>
          <td>
            <select name="section">
              {foreach $section in $adsections}
              {if $ad->getSectionId() == $section->getId()}
              <option value="{echo $section->getId()}" selected="selected">{echo $section->getTitle()}</option>{/if}{else}
              <option value="{echo $section->getId()}">{echo $section->getTitle()}</option>{/else}
              {/foreach}
            </select>
          </td>
        </tr>
        <tr>
          <td><span>Typ</span></td>
          <td>
            <select name="type">{if $ad->getAdType() == "demand"}
              <option value="tender">Nabídka</option>
              <option value="demand" selected="selected">Poptávka</option>{/if}{else}
              <option value="tender" selected="selected">Nabídka</option>
              <option value="demand">Poptávka</option>{/else}
            </select>
          </td>
        </tr>
        <tr>
          <td><span>Obsah</span></td>
          <td>{if isset($errors["content"])}
            <label class="error">{echo join("<br/>", $errors["content"])}</label>{/if}
            <textarea name="content" required="required" rows="8">{echo \App\Helper\FormPrinter::iset($ad,"content")}</textarea>
          </td>
        </tr>
        <tr id="anchor">
          <td><span>Klíčová slova</span></td>
          <td>{if isset($errors["keywords"])}
            <label class="error">{echo join("<br/>", $errors["keywords"])}</label>{/if}
            {echo \App\Helper\FormPrinter::input("text", "keywords", array($ad,"keywords"), array("placeholder" => "Pro rychlejší vyhledávání v bazaru"))}
          </td>
        </tr>
        <tr>
          <td><span>Cena</span></td>
          <td>{if isset($errors["price"])}
            <label class="error">{echo join("<br/>", $errors["price"])}</label>{/if}
            {echo \App\Helper\FormPrinter::input("text", "price", array($ad,"price"), array("placeholder" => "při nevyplnění bude hodnota: \"Dohodou\""))}
          </td>
        </tr>
        <tr>
          <td><span>Fotky</span></td>
          <td>{if isset($errors["uploadfile"])}
            <label class="error">{echo join("<br/>", $errors["uploadfile"])}</label>{/if}
            <p><span>K inzerátu mohou být připojeny maximálně 3 fotky</span><br/><span class="field"><a href="#anchor" class="multi_upload fi-plus mh10"></a><a href="#anchor" class="multi_upload_dec fi-minus mh10"></a></span><span class="field file_inputs">
                <input type="file" name="uploadfile[]" accept="image/*"/></span></p>
          </td>
        </tr>
        <tr>
          <td><span>Nahrané fotky</span></td>
          <td><span class="field">
              {script $images = $ad->getImages()}
              {if $images !== null}
              {foreach $image in $images}<span class="imageWrapper"><img src="{echo $image->getImgThumb()}"/><br/><a href="/bazar/smazatfoto/{echo $image->getId()}" title="Smazat fotku" class="ajaxDeleteImage fi-trash"></a>{if $ad->getMainPhotoId() != $image->getId()}<a href="/bazar/nastavitfoto/{echo $ad->getId()}/{echo $image->getId()}" title="Nastavit jako hlavní fotku" class="ajaxChangestate fi-arrow-up"></a>{/if}</span>{/foreach}
              {/if}</span></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
            <input type="submit" name="submitEditAdvertisement" value="Uložit" class="more"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>