section.wrapper.pridatInzerat.singlePage
    header.row
        h2 Úprava inzerátu
    .row
        form(method="post", action="#" enctype="multipart/form-data").large-8.medium-10.small-12.centerBlock.uploadForm.mv30
            input(type="hidden", name="MAX_FILE_SIZE", value="18000000")
            table
                tr
                    td
                        span Platnost do
                    td
                        |{echo \App\Helper\DateFormater::t2d(\App\Helper\FormPrinter::iset($ad,"expirationDate"))}
                tr
                    td
                        span Název
                    td
                        |{if isset($errors["title"])}
                        label.error {echo join("<br/>", $errors["title"])}
                        |{/if}
                        |{echo \App\Helper\FormPrinter::input("text", "title", array($ad,"title"), array("required"=>true, "pattern" => ".#(5,)#", "title" => "min. 5 znaků"))}
                tr
                    td
                        span Sekce
                    td
                        select(name="section")
                            |{foreach $section in $adsections}
                            |{if $ad->getSectionId() == $section->getId()}
                            option(value!="{echo $section->getId()}", selected) {echo $section->getTitle()}
                            |{/if}{else}
                            option(value!="{echo $section->getId()}") {echo $section->getTitle()}
                            |{/else}
                            |{/foreach}
                tr
                    td
                        span Typ
                    td
                        select(name="type")
                            |{if $ad->getAdType() == "demand"}
                            option(value="tender") Nabídka
                            option(value="demand", selected) Poptávka
                            |{/if}{else}
                            option(value="tender", selected) Nabídka
                            option(value="demand") Poptávka
                            |{/else}
                tr
                    td
                        span Obsah
                    td
                        |{if isset($errors["content"])}
                        label.error {echo join("<br/>", $errors["content"])}
                        |{/if}
                        textarea(name="content", required, rows=8) {echo \App\Helper\FormPrinter::iset($ad,"content")}
                tr#anchor
                    td
                        span Klíčová slova
                    td
                        |{if isset($errors["keywords"])}
                        label.error {echo join("<br/>", $errors["keywords"])}
                        |{/if}
                        |{echo \App\Helper\FormPrinter::input("text", "keywords", array($ad,"keywords"), array("placeholder" => "Pro rychlejší vyhledávání v bazaru"))}
                tr
                    td
                        span Cena
                    td
                        |{if isset($errors["price"])}
                        label.error {echo join("<br/>", $errors["price"])}
                        |{/if}
                        |{echo \App\Helper\FormPrinter::input("text", "price", array($ad,"price"), array("placeholder" => "při nevyplnění bude hodnota: \"Dohodou\""))}
                tr
                    td
                        span Fotky
                    td
                        |{if isset($errors["uploadfile"])}
                        label.error {echo join("<br/>", $errors["uploadfile"])}
                        |{/if}
                        p
                            span K inzerátu mohou být připojeny maximálně 3 fotky
                            br
                            span.field
                                a(href="#anchor").multi_upload.fi-plus.mh10
                                a(href="#anchor").multi_upload_dec.fi-minus.mh10
                            span.field.file_inputs
                                input(type="file", name="uploadfile[]", accept="image/*")
                tr
                    td
                        span Nahrané fotky
                    td
                        span.field
                            |{script $images = $ad->getImages()}
                            |{if $images !== null}
                            |{foreach $image in $images}
                            span.imageWrapper
                                img(src!="{echo $image->getImgThumb()}")
                                br
                                a.ajaxDeleteImage.fi-trash(href!="/bazar/smazatfoto/{echo $image->getId()}", title="Smazat fotku")
                                |{if $ad->getMainPhotoId() != $image->getId()}
                                a.ajaxChangestate.fi-arrow-up(href!="/bazar/nastavitfoto/{echo $ad->getId()}/{echo $image->getId()}", title="Nastavit jako hlavní fotku")
                                |{/if}
                            |{/foreach}
                            |{/if}
                tr
                    td(colspan=2)
                        input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")
                        input(type="submit", name="submitEditAdvertisement", value="Uložit").more
