section.wrapper.blue.filter
   .row
      |{if $pagerpathprefix=='/bazar' | $pagerpathprefix=='/bazar/filtr'}
      form.filtr(method='get' action='/bazar/filtr')
         select(name='bftype')
            |{if isset($bftype)}
            |{if $bftype == 'nabidka'}
            option(value='0') Typ
            option(value='nabidka', selected) Nabídka
            option(value='poptavka') Poptávka
            |{/if}{elseif $bftype == 'poptavka'}
            option(value='0') Typ
            option(value='nabidka') Nabídka
            option(value='poptavka', selected) Poptávka
            |{/elseif}{else}
            option(value='0', selected) Typ
            option(value='nabidka') Nabídka
            option(value='poptavka') Poptávka
            |{/else}
            |{/if}{else}
            option(value='0') Typ
            option(value='nabidka') Nabídka
            option(value='poptavka') Poptávka
            |{/else}
         select(name='bfsection')
            |{if isset($bfsection)}
            option(value='0') Sekce
            |{foreach $ad in $adsections}
            |{if $ad->urlKey == $bfsection}
            option(value!='{echo $ad->getUrlKey()}', selected) {echo $ad->getTitle()}
            |{/if}{else}
            option(value!='{echo $ad->getUrlKey()}') {echo $ad->getTitle()}
            |{/else}
            |{/foreach}
            |{/if}{else}
            option(value='0') Sekce
            |{foreach $ad in $adsections}
            option(value!='{echo $ad->getUrlKey()}') {echo $ad->getTitle()}
            |{/foreach}
            |{/else}
         input(type='submit' value='Zobrazit')
         |{if isset($bftype)}
         a(href="/bazar").reset ×
         |{/if}
      |{/if}
      form.search(method='get' action='/bazar/hledat')
         input(type='text' placeholder='vyhledat v bazaru...' name='adstr' required)
         a#hledat(href='#').fi-magnifying-glass
