section.wrapper.blue.filter
   .row
      |{if $path=='/bazar' | $path=='/bazar/filtr'}
      form.filtr(method ='POST' action='/bazar/filtr')
         select(name='bftype')
            option(value='0') Typ
            option(value='nabidka') Nabídka
            option(value='poptavka') Poptávka
         select(name='bfsection')
            option(value='0') Sekce
            | {foreach $ad in $adsections}
            option(value!='{echo $ad->urlKey}') {echo $ad->title}
            | {/foreach}
         input(type='submit' name='zobrazit' value='Zobrazit')
         input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")
      |{/if}
      form.search(method='GET' action='/bazar/hledat')
         input(type='text' placeholder='vyhledat v bazaru...' name='adstr' required)
         a#hledat(href='#').fi-magnifying-glass
         input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")