
<section class="wrapper blue filter">
  <div class="row">{if $path=='bazar' | $path=='filtr'}
    <form method="POST" action="/bazar/filtr" class="filtr">
      <select name="bftype">
        <option value="0">Typ</option>
        <option value="nabidka">Nabídka</option>
        <option value="poptavka">Poptávka</option>
      </select>
      <select name="bfsection">
        <option value="0">Sekce</option>{foreach $ad in $adsections}
        <option value="{echo $ad->urlKey}">{echo $ad->title}</option>{/foreach}
      </select>
      <input type="submit" name="zobrazit" value="Zobrazit"/>
      <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
    </form>{/if}
    <form method="POST" action="/prohledatbazar" class="search">
      <input type="text" placeholder="vyhledat v bazaru..."/><a id="hledat" href="#" class="fi-magnifying-glass"></a>
      <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
    </form>
  </div>
</section>
<section class="wrapper bazar">
  <header class="row">
    <h2>Bazar</h2>
  </header>
  <div class="row container">
    <div class="buttonWrapper">
      <ul>
        <li><a href="/bazar/pridat" class="fi-plus">Nový inzerát</a></li>{if $authUser}
        <li><a href="/bazar/moje-inzeraty" class="fi-page-copy">Moje inzeráty</a></li>{/if}
      </ul>
    </div>{foreach $ad in $ads}
    <article class="medium-6 column left">
      <div class="imgWrapper">
        {script $images=$ad->getImages()}
        {script $image=$images[0]}<a rel="lightbox" href="{echo $image->imgMain}"><img src="{echo $image->imgThumb}"/></a>
      </div>
      <div class="nazev">
        <div class="nazevWrapper">
          <h4>{echo $ad->title}</h4>
        </div>
      </div>
      <div class="info">{if $ad->adtype=='tender'}
        <center><span class="nabidka">Nabídka <br/></span></center>{/if}{else}
        <center><span class="poptavka">Poptávka <br/></span></center>{/else}<span>{echo " ".$ad->userAlias}<br/></span><small><span>sekce:</span></small><span>{echo " ".$ad->sectionTitle}<br/></span><small><span>cena:</span></small><span class="price">{echo " "}cena? <br/></span><a href="/bazar/r/{echo $ad->uniqueKey}">zobrazit podrobnosti</a>
      </div>
    </article>{/foreach}
  </div>
  <!--Created by Slamic on 28.12.2014.
  -->{if  $pagecount > 1}
  <section class="pager row">
    {if $currentpage != 1}
    {if $currentpage !=2}<a href="{echo $path}/p/1"><<</a><a href="{echo $path}/p/{echo $currentpage-1}"><</a><a href="{echo $path}/p/{echo $currentpage-2}">{echo $currentpage - 2}</a>{/if}<a href="{echo $path}/p/{echo $currentpage-1}">{echo $currentpage - 1}</a>{/if}<a href="#" class="active">{echo $currentpage}</a>{if $currentpage != $pagecount}<a href="{echo $path}/p/{echo $currentpage+1}">{echo $currentpage + 1}</a>{if $currentpage != $pagecount - 1}<a href="{echo $path}/p/{echo $currentpage+2}">{echo $currentpage + 2}</a><a href="{echo $path}/p/{echo $currentpage+1}">></a><a href="{echo $path}/p/{echo $pagecount}">>></a>{/if}
    {/if}
  </section>{/if}
</section>