include filter-template
section.wrapper.bazar
    header.row
        h2 Bazar
    .row.container
        .buttonWrapper
            ul
                li
                    a(href='/bazar/pridat').fi-plus Nový inzerát
                |{if $authUser}
                li
                    a(href='/bazar/moje-inzeraty').fi-page-copy Moje inzeráty
                |{/if}
        |{foreach $ad in $ads}
        article.medium-6.column.left
            .imgWrapper
                | {script $images=$ad->getImages()}
                | {if !empty($images)}
                | {script $image=array_shift($images)}
                a(data-lightbox!="{echo $ad->getId()}" data-title!="{echo $image->getPhotoName()}" href!="{echo $image->imgMain}")
                    img(src!="{echo $image->imgThumb}")
                | {/if}
            .nazev
                .nazevWrapper
                    h4 {echo $ad->title}
            .infoWrapper
                .info
                    | {if $ad->adType=='tender'}
                    center
                        span.nabidka Nabídka <br/>
                    |{/if}{else}
                    center
                        span.poptavka Poptávka <br/>
                    |{/else}
                    span {echo " ".$ad->userAlias}<br/>
                    small
                        span sekce:
                    span {echo " ".$ad->sectionTitle}<br/>
                    small
                        span cena:
                    |{if $ad->price == "1"}
                    span.price {echo " na dohodě"}<br/>
                    |{/if}
                    |{else}
                    span.price {echo " ".number_format($ad->price, 0, ',', ' ')." Kč"}<br/>
                    |{/else}
                    a.bla(href!='/bazar/r/{echo $ad->uniqueKey}') zobrazit podrobnosti
        |{/foreach}
    include ../components/pager