include filter-template
section.wrapper.bazar.singlePage
    header.row
        h2 Bazar
    .row.container
        .buttonWrapper
            ul
                li
                    a(href='/bazar/pridat').fi-plus Nový inzerát
                |{if $authUser}
                li
                    a(href='/bazar/moje-inzeraty').fi-page-copy Moje inzeráty
                |{/if}
        |{if !empty($ads)}
        |{foreach $ad in $ads}
        article.large-6.small-12.medium-6.column.left
            .imgWrapper
                |{if !empty($ad->getImgMain())}
                a(data-lightbox!="{echo $ad->getId()}" data-title!="{echo $ad->getPhotoName()}" href!="{echo $ad->getImgMain()}")
                    img(src!="{echo $ad->getImgThumb()}")
                |{/if}
            .nazev
                .nazevWrapper
                    h4 {echo $ad->getTitle()}
            .infoWrapper
                .info
                    |{if $ad->getAdType() =='tender'}
                    center
                        span.nabidka Nabídka <br/>
                    |{/if}{else}
                    center
                        span.poptavka Poptávka <br/>
                    |{/else}
                    span {echo " ".$ad->getUserAlias()}<br/>
                    small
                        span sekce:
                    span {echo " ".$ad->getSectionTitle()}<br/>
                    small
                        span cena:
                    |{if $ad->getPrice() == "0"}
                    span.price {echo " na dohodě"}<br/>
                    |{/if}
                    |{else}
                    span.price {echo " ".number_format($ad->getPrice(), 0, ',', ' ')." Kč"}<br/>
                    |{/else}
                    a.bla(href!='/bazar/r/{echo $ad->getUniqueKey()}') zobrazit podrobnosti
            |{if isset($authUser) && $authUser->getId() == $ad->getUserId()}
            a.buttonTab.edit.fi-pencil(href!='/bazar/upravit/{echo $ad->getUniqueKey()}', title='Upravit')
            a.buttonTab.reload.ajaxReload.fi-refresh(href!='/bazar/prodlouzit/{echo $ad->getUniqueKey()}', title='Požádat o prodloužení')
            a.buttonTab.delete.ajaxReload.fi-trash(href!='/bazar/smazat/{echo $ad->getUniqueKey()}', title='Smazat')
            |{/if}
        |{/foreach}
        |{/if}{else}
        article.large-12.small-12.medium-12.column.left
            h2 Žádné inzeráty nejsou k dispozici
        |{/else}
    include ../components/pager