include filter-template
section.wrapper.bazar.singlePage
    input(type="hidden", name="csrf", id="csrf", value!="{echo $token}")
    header.row
        h2 Moje inzeráty
    .row.container
        |{if !empty($ads)}
        .buttonWrapper
            ul
                li
                    a(href='/bazar').fi-arrow-left Bazar
                li
                    a(href='/bazar/pridat').fi-plus Nový inzerát
        |{/if}
        |{if !empty($ads)}
        |{foreach $ad in $ads}
        a(href!='/bazar/r/{echo $ad->getUniqueKey()}')
            article.large-4.small-12.medium-6.column.left
                .imgWrapper
                    |{if !empty($ad->getImgMain())}
                    img(src!="{echo $ad->getImgThumb()}" alt!="{echo $ad->getPhotoName()}")
                    |{/if}
                .infoWrapper
                    .info
                        span.name {echo "exp.: ".$ad->getExpirationDate()}
                        |{if $ad->getState() == \App\Model\AdvertisementModel::STATE_SOLD}
                        span.price {echo "PRODÁNO"}
                        |{/if}{elseif "" == $ad->getPrice()}
                        span.price {echo "Dohodou"}
                        |{/elseif}{else}
                        span.price {echo number_format($ad->getPrice(), 0, ",", " ")." Kč"}
                        |{/else}
                        p.content {echo $ad->getContent()}
        |{/foreach}
        |{/if}{else}
        article.large-12.small-12.medium-12.column.left
            h2 Žádné inzeráty nejsou k dispozici
        |{/else}
    include ../components/pager
