include filter-template
section.wrapper.bazar.singlePage
	header.row
		h2 Moje inzeráty
	.row.container
		|{if !empty($ads)}
		.buttonWrapper
			ul
				li
					a(href='/bazar').fi-arrow-left Bazar
				li
					a(href='/bazar/pridat').fi-plus Nový inzerát
		|{foreach $ad in $ads}
		article.medium-6.column.left
			.imgWrapper
				|{if !empty($ad->getImgMain())}
				a(data-lightbox!="{echo $ad->getId()}" data-title!="{echo $ad->getPhotoName()}" href!="{echo $ad->getImgMain()}")
					img(src!="{echo $ad->getImgThumb()}")
				|{/if}
			.nazev
				.nazevWrapper
					a(href!='/bazar/r/{echo $ad->getUniqueKey()}')
						h4 {if $ad->getState() == \App\Model\AdvertisementModel::STATE_SOLD}PRODÁNO - {/if}{echo $ad->getTitle()}
			.infoWrapper
				.info
					|{if $ad->getAdType() =='tender'}
					center
						span.nabidka Nabídka
					|{/if}{else}
					center
						span.poptavka Poptávka
					|{/else}
					small
						span sekce:
					span {echo " ".$ad->getSectionTitle()}
					|<br/>
					small
						span cena:
					|{if $ad->getPrice() == "1"}
					span.price {echo " na dohodě"}
					|<br/>
					|{/if}{else}
					span.price {echo " ".number_format($ad->getPrice(), 0, ',', ' ')." Kč"}
					|<br/>
					|{/else}
					small
						span platnost do:
					span {echo " ".\App\Helper\DateFormater::t2d($ad->getExpirationDate())}
					|<br/>
					a.bla(href!='/bazar/r/{echo $ad->getUniqueKey()}') zobrazit podrobnosti
					|{if $ad->getState() != \App\Model\AdvertisementModel::STATE_SOLD}
					a.buttonTab.sell.ajaxReload.fi-dollar(href!='/bazar/prodano/{echo $ad->getUniqueKey()}', title='Prodáno')
					a.buttonTab.edit.fi-pencil(href!='/bazar/upravit/{echo $ad->getUniqueKey()}', title='Upravit')
					a.buttonTab.reload.ajaxReload.fi-refresh(href!='/bazar/prodlouzit/{echo $ad->getUniqueKey()}', title='Požádat o prodloužení')
					a.buttonTab.delete.ajaxReload.fi-trash(href!='/bazar/smazat/{echo $ad->getUniqueKey()}', title='Smazat')
					|{/if}
		|{/foreach}
		|{/if}{else}
		h3 Nemáte žádné inzeráty
		|{/else}
	include ../components/pager
