section.wrapper.bazar.singlePage
   |{if empty($result)}
   header.row
      h2 Hledání v bazaru
   section.row.container
      .large-12.medium-12.small-12.column
            h3 Pro hledaný výraz nebyl nenalezen žádný odkaz
   |{/if}
   |{else}
   header.row
      h2 Hledání v bazaru
   section.row.container
      .large-12.medium-12.small-12.column
         |{foreach $url in $result}
         article.searchResult
            a(href!="{echo $url['path']}")
               h3 {echo $url['title']}
            .body
                div {echo html_entity_decode($url['text'])}
         |{/foreach}
   |{/else}