
<section class="wrapper singlePage privacypolicy">
  <div class="row">
    <div class="container large-10 medium-10 small-12 centerBlock mv30">
      <header class="row">
        <h2>Zásady cookies</h2>
      </header>
      <div>Toto jsou zásady cookies pro hastrman.cz, přístupného z https://www.hastrman.cz<br/>Cookies používáme v souladu s našimi <a href="/ochrana-soukromi">Zásadami pro ochranu soukromí</a><br/>Detailnější nastavení cookies naleznete v <a href="/nastaveni-soukromi">Nastavení soukromí</a></div>
      <hr/>
      <div> <strong>Co jsou soubory cookies</strong>
        <p>Naše webové stránky používají soubory cookie. Soubor cookie je textový soubor, který je stažen do vašeho počítače nebo mobilního zařízení při </p>přístupu na určité webové stránky. Soubory cookie mohou obsahovat text, který lze číst webovým serverem, který vám soubor cookie předal. 
        Text obsažený v souboru cookie se obecně skládá ze sekvence písmen a čísel, které jednoznačně identifikují váš počítač nebo mobilní zařízení; může obsahovat i další informace.
        <p>Více informací je k dispozici na Wikipedii v článku týkajícího se HTTP Cookies</p>
        <p>Zákon stanoví, že na vašem zařízení můžeme ukládat soubory cookie, pokud jsou nezbytně nutné pro provoz tohoto webu. Pro všechny ostatní typy souborů cookie potřebujeme vaše oprávnění.</p>
        <p>Váš souhlas se týká následujících domén: hastrman.cz</p>
      </div>
      <hr/>
      <div> <strong>Jaké cookies používáme</strong>
        <p>Tím, že souhlasíte s použitím cookies, nám dáváte oprávnění k umístění, uložení a přístupu k některým nebo všem níže uvedeným souborům cookie v počítači.</p>
        <ul>
          <li> <strong>Nezbytné (systémové)</strong>&nbsp;- slouží ke správnému zobrazení webových stránek.
            <ul>
              <li>PHPSESSID - id spojení navázaného mezi vaším počítačem a webovým serverem</li>
            </ul>
          </li>
          <li> <strong>Analytické</strong>&nbsp;- slouží k analytickým účelům jako je sledování návštěvnosti a nejnavštěvovanějších stránek. Údaje z těchto cookies nejsou poskytovány žádné třetí straně a jsou anonymizovány.
            <ul>
              <li>_pk_id. - cookie analitického nástroje, platnost jen po dobu spojení</li>
              <li>_pk_ses. - cookie analitického nástroje, platnost jen po dobu spojení</li>
            </ul>
          </li>
          <li> <strong>Funkcionální</strong>&nbsp;- slouží k zapamatování uživatelských preferencí při používání tohoto webu
            <ul>
              <li>cookies-consent-mandatory - souhlas s požitím nezbytných cookies, platnost 1 rok</li>
              <li>cookies-consent-analytics - souhlas s požitím analityckých cookies, platnost 1 rok</li>
              <li>cookies-consent-functional - souhlas s požitím funkcionálních cookies, platnost 1 rok</li>
            </ul>
          </li>
        </ul>
      </div>
      <hr/>
      <div> <strong>Zakázání cookies</strong>
        <p>Většina webových prohlížečů může být nastavena tak, aby zakázala používání souborů cookie. </p>Pokud však cookies deaktivujete, pravděpodobně nebudete mít přístup k funkcím na našich webových stránkách správně nebo vůbec.
      </div>
    </div>
  </div>
</section>