.homepage
	section.wrapper
		.row.container
			ul.bxslider
				li
					img(title='bla' src='public/images/baner.jpg')
					.nadpisWrapper
						.nadpis
							h2 bla
				li
					img(title='bla' src='public/images/holidays type.jpg')
					.nadpisWrapper
						.nadpis
							h2 bla2
				li
					img(title='bla' src='public/images/dubai.jpg')
					.nadpisWrapper
						.nadpis
							h2 bla3
	section.wrapper.blue
		.row.container
			header
				h3 Novinky
			.container-box
				-	for(var x=0; x<6; x++)
					article.indexNew
						header
							a(href='#')
								h4 nazev
						p Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.
			.moreWrap
				a(href='/novinky')
					.more.blue
						span Zobrazit více
	section.wrapper
		.row.container
			header
				h3 Akce
			.container-box#wrapper
				#carousel
					- for(var x=0; x<7; x++)
						a(href='#')
							article
								header
									h4 blabla
									span.datum 24.12.2015
								p Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore
			.moreWrap
				a(href='#')
					.more
						span Další akce

	

	section.wrapper.blue
		.row.container
			header
				h3 Partneři



