
<div class="homepage">{if !empty($reports)}
  <section class="wrapper">
    <div class="row container">
      <ul class="bxslider">{foreach $report in $reports}
        <li><img src="{echo $report->imgMain}"/>
          <div class="nadpisWrapper">
            <h2 class="nadpis"><a href="/reportaze/r/{echo $report->urlKey}">{echo $report->title}</a></h2>
          </div>
        </li>{/foreach}
      </ul>
    </div>
    <div class="moreWrap"><a href="/reportaze">
        <div class="more"><span>Zobrazit více</span></div></a></div>
  </section>{/if}
  {if !empty($news)}
  <section class="wrapper blue">
    <div class="row container">
      <header>
        <h3>Novinky</h3>
      </header>
      <div class="container-box">{foreach $new in $news}
        <article class="indexNew">
          <header><a href="/novinky/r/{echo $new->urlKey}">
              <h4>{echo $new->title}</h4></a></header>
          <p>{echo $new->shortBody}</p>
        </article>{/foreach}
      </div>
      <div class="moreWrap"><a href="/novinky">
          <div class="more blue"><span>Zobrazit více</span></div></a></div>
    </div>
  </section>{/if}
  {if !empty($actions)}
  <section class="wrapper">
    <div class="row container">
      <header>
        <h3>Akce</h3>
      </header>
      <div id="wrapper" class="container-box">
        <div id="carousel">{foreach $action in $actions}<a href="/akce/r/{echo $action->urlKey}">
            <article>
              <header>
                <h4>{echo $action->title}</h4><span class="datum">{echo $action->startDate}</span>
              </header>
              <p>{echo $action->shortBody}</p>
            </article></a>{/foreach}</div>
      </div>
      <div class="moreWrap"><a href="/akce">
          <div class="more"><span>Další akce</span></div></a></div>
    </div>
  </section>{/if}
  {if !empty($partners)}
  <section class="wrapper blue">
    <div class="row container">
      <header>
        <h3>Partneři</h3>
      </header>
      <div class="container-box partneri">
        <div id="carousel2">{foreach $partner in $partners}
          <article class="partner"><img src="{echo $partner->logo}"/>
            <div class="info"><a href="{echo $partner->web}">{echo $partner->title}</a></div>
          </article>{/foreach}
        </div>
      </div>
    </div>
  </section>{/if}
</div>