
<div class="homepage">
  <section class="wrapper">
    <div class="row container">
      <ul class="bxslider">
        <li><img title="bla" src="public/images/baner.jpg"/>
          <div class="nadpisWrapper">
            <div class="nadpis">
              <h2>bla</h2>
            </div>
          </div>
        </li>
        <li><img title="bla" src="public/images/holidays type.jpg"/>
          <div class="nadpisWrapper">
            <div class="nadpis">
              <h2>bla2</h2>
            </div>
          </div>
        </li>
        <li><img title="bla" src="public/images/dubai.jpg"/>
          <div class="nadpisWrapper">
            <div class="nadpis">
              <h2>bla3</h2>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="wrapper blue">
    <div class="row container">
      <header>
        <h3>Novinky</h3>
      </header>
      <div class="container-box">
        <article class="indexNew">
          <header><a href="#">
              <h4>nazev</h4></a></header>
          <p>Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.</p>
        </article>
        <article class="indexNew">
          <header><a href="#">
              <h4>nazev</h4></a></header>
          <p>Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.</p>
        </article>
      </div>
      <div class="moreWrap"><a href="/novinky">
          <div class="more blue"><span>Zobrazit více</span></div></a></div>
    </div>
  </section>
  <section class="wrapper">
    <div class="row container">
      <header>
        <h3>Akce</h3>
      </header>
      <div id="wrapper" class="container-box">
        <div id="carousel"><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a><a href="#">
            <article>
              <header>
                <h4>blabla</h4><span class="datum">24.12.2015</span>
              </header>
              <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
            </article></a>
        </div>
      </div>
      <div class="moreWrap"><a href="#">
          <div class="more"><span>Další akce</span></div></a></div>
    </div>
  </section>
  <section class="wrapper blue">
    <div class="row container">
      <header>
        <h3>Partneři</h3>
      </header>
    </div>
  </section>
</div>