
<ul class="bxslider">
  <li><img title="bla" src="public/images/baner.jpg"/>
    <div class="nadpisWrapper">
      <div class="nadpis">
        <h2>bla</h2>
      </div>
    </div>
  </li>
  <li><img title="bla" src="public/images/holidays type.jpg"/>
    <div class="nadpisWrapper">
      <div class="nadpis">
        <h2>bla2</h2>
      </div>
    </div>
  </li>
  <li><img title="bla" src="public/images/dubai.jpg"/>
    <div class="nadpisWrapper">
      <div class="nadpis">
        <h2>bla3</h2>
      </div>
    </div>
  </li>
</ul>
<section class="large-12 columns block">
  <header class="blueHeader">
    <h3 class="pad">Novinky</h3><a href="/novinky" class="right">zobrazit více</a>
  </header>
  <div class="indexContent">
    <article class="row indexNew">
      <header><a href="#">
          <h4>nazev</h4></a></header>
      <p>Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.</p>
    </article>
    <article class="row indexNew">
      <header><a href="#">
          <h4>nazev</h4></a></header>
      <p>Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.</p>
    </article>
    <article class="row indexNew">
      <header><a href="#">
          <h4>nazev</h4></a></header>
      <p>Lorem ipsum Et non in eu ex mollit amet sunt cupidatat consequat voluptate ut ad mollit incididunt Ut laboris anim.</p>
    </article>
  </div>
</section>
<section class="large-12 columns block">
  <header class="blueHeader">
    <h3 class="pad">Akce</h3><a href="#" class="right">Další akce</a>
  </header>
  <div id="wrapper" class="indexContent">
    <div id="carousel"><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a><a href="#">
        <article>
          <header>
            <h4>blabla</h4><span class="datum">24.12.2015</span>
          </header>
          <p>Lorem ipsum Veniam Ut sit esse incididunt ut commodo aute occaecat sit laboris incididunt. Lorem ipsum Dolore</p>
        </article></a>
    </div>
  </div>
</section>
<section class="large-12 columns right adsWrapper">
  <header class="blueHeader alignCenter">
    <h3>Partneři</h3>
  </header>
</section>
<footer class="large-12 columns">
  <header class="blueHeader">
    <h3>Kontakty</h3>
  </header>
  <div class="large-4 columns borderRight">
    <p>Potápěčské centrum <br> HASTRMAN <br>	Mládežnická 1275<br>293 01 Mladá Boleslav<br>E-mail: info@hastrman.cz<br>Tel: Bohumír Kuhn (603 161 417)<br>Jaromír Dítě (608 550 600)<br><br>Najdete nás podle mapy</p>
  </div>
  <div class="large-4 columns borderRight">
    <p>Klub sportovních potápěčů <br> HASTRMAN <br>Mládežnická 1275<br>293 01 Mladá Boleslav<br>Tel: Jiří Nový (603 482 708)<br>novy@hastrman.cz<br>Bohumír Kuhn (603 161 417)<br>Jaromír Dítě (608 550 600)<br> E-mail: klub@hastrman.cz</p>
  </div>
  <div class="large-4 columns">
    <p>HASTRMAN APNEA tým<br> Mládežnická 1275 <br> 293 01 Mladá Boleslav<br><br>Tel: Jan Tichý (721 863 728)<br>E-mail: apnea@hastrman.cz</p>
  </div>
</footer>