section.wrapper.singlePage.privacypolicy
    .row
        .container.large-10.medium-10.small-12.centerBlock.mv30
            header.row
                h2.fi-results-demographics Ochrana osobních údajů
            div Naše oznámení o ochraně osobních údajů vám objasní, která osobní data a neosobní data od vás můžeme shromažďujeme, jak je shromažďujeme, jak je chráníme, jak je můžeme sdílet, jak k nim můžete získat přístup a změnit je a jak můžete omezit jejich sdílení. Toto oznámení také vysvětluje některá práva, která máte s ohledem na vaše osobní data.
            hr
            div
                h3 Kontaktní údaje správce dat
                div Bohumír Kuhn<br/>Potápěčské centrum HASTRMAN<br/>Mládežnická 1275<br/>293 01 Mladá Boleslav<br/><br/>Tel.: 603 161 417<br/>Email: kuhn@hastrman.cz<br/>Tento dokument řídí ochranu osobních údajů našich webových stránek www.hastrman.cz
            hr
            div
                h3 Definice
                    div
                        ul
                            li
                                strong "Neosobní údaje"&nbsp;
                                |(NPD) jsou informace, které nejsou v žádném případě osobně identifikovatelné.
                            li
                                strong "Osobními údaji"&nbsp;
                                |(PD) se rozumí veškeré informace týkající se identifikované nebo identifikovatelné fyzické osoby ("subjekt údajů"); identifikovatelná fyzická osoba je osoba, která může být identifikována přímo nebo nepřímo odkazem na identifikátor, jako je jméno, identifikační číslo, údaje o poloze, on-line identifikátor nebo jeden nebo více faktorů specifických pro fyzické, fyziologické, genetické, duševní, ekonomickou, kulturní nebo sociální identitu této fyzické osoby. Osobní údaje jsou v mnoha ohledech stejné jako osobní identifikační údaje. Osobní údaje jsou však širší a zahrnují více dat.
                            li
                                strong "Návštěvník"&nbsp;
                                |je někdo, kdo pouze prohlíží naši webovou stránku
                            li
                                strong "Členem"&nbsp;
                                |je osoba, která se u nás zaregistrovala, aby využívala naše služby.
                            li
                                strong "Uživatel"&nbsp;
                                |je kolektivní identifikátor, který se vztahuje buď na návštěvníka, nebo na člena.
            hr
            div
                h3 Vaše práva
                div Spolu s používáním našich webových stránek a poskytováním osobních údajů můžete mít některá práva podle obecných nařízení o ochraně osobních údajů (GDPR) a dalších zákonů. V závislosti na právním základu pro zpracování vašich osobních údajů můžete mít některá nebo všechna následující práva:
                    ul
                        li
                            strong Právo být informován
                            |<br/>Máte právo být informováni o osobních údajích, které shromažďujeme od vás a o tom, jak je zpracováváme.
                        li
                            strong Právo na přístup
                            |<br/>Máte právo obdržet potvrzení, že jsou vaše osobní údaje zpracovávány a mít možnost přístupu k těmto datům.
                        li
                            strong Právo na nápravu
                            |<br/>Máte právo na opravu osobních údajů, pokud jsou nepřesné nebo neúplné.
                        li
                            strong Právo na výmaz (právo být zapomenut)
                            |<br/>Máte právo požadovat odstranění nebo smazání vašich osobních údajů, pokud neexistují žádné přesvědčivé důvody pro pokračování v jejich zpracování.
                        li
                            strong Právo omezit zpracování
                            |<br/>Máte právo "zablokovat" nebo omezit zpracování vašich osobních údajů. Pokud jsou vaše osobní údaje omezeny, můžeme data uchovávat, ale ne dále zpracovávat.
                        li Právo na námitku<br/>Máte právo vznést námitky proti tomu, že zpracováváme vaše osobní údaje z následujících důvodů:
                            ul
                                li Zpracování bylo založeno na oprávněných zájmech nebo plnění úkolů ve veřejném zájmu / výkonu veřejné moci (včetně profilování)
                                li Přímý marketing (včetně profilování)
                                li Zpracování za účelem vědeckého / historického výzkumu a statistiky.
                        li Práva související s automatizovaným rozhodováním a vytvářením profilů
                            ul
                                li Automatizované rozhodování a profilování<br/>Budete mít právo nepodléhat rozhodnutí založenému pouze na automatizovaném zpracování, včetně profilování, která vytváří právní účinky ohledně vás nebo vá podobně významně ovlivňuje.
                                li Podání stížnosti u orgánů<br/>Máte právo podat stížnost dozorčím orgánům, pokud vaše informace nebyly zpracovány v souladu s obecnými nařízeními o ochraně údajů. Pokud dozorčí orgány řádně nevyřeší vaši stížnost, můžete mít právo na soudní opravný prostředek.
            hr
            div
                h3 Informace, které shromažďujeme
                div Obecně řídíte množství a typ informací, které nám poskytnete při používání našeho webu.
                br
                h4 Náš právní základ pro shromažďování a zpracování osobních údajů
                div Náš právní základ pro shromažďování a zpracování vašich osobních údajů při registraci do informačního bulletinu, konference, workshopu, služeb a informací o produktech prostřednictvím emailové komunikace je založen na souhlasu.
            hr
            div
                h3 Co se stane, pokud nám neposkytnete své osobní údaje
                div Pokud nám neposkytnete dostatek osobních údajů, možná vám nebudeme moci poskytnout všechny naše služby. Můžete však přistupovat a používat některé části našich webových stránek, aniž byste nám poskytli vaše osobní údaje.
            hr
            div
                h3 Osobní údaje shromažďujeme následujícími způsoby
                div
                    h4 Automatické informace
                    div Automaticky přijímáme informace z vašeho webového prohlížeče nebo mobilního zařízení. Tyto informace mohou obsahovat název webové stránky, ze které jste zadali naši webovou stránku, pokud existují, stejně jako název webové stránky, kterou navštívíte, když opustíte naše webové stránky, jméno poskytovatele internetových služeb, typ webového prohlížeče, typ mobilního zařízení, operačního systému počítače a údajů o aktivitě prohlížení při používání našich webových stránek. Všechny tyto informace využíváme k analýze trendů mezi našimi uživateli za účelem zlepšení našeho webu.
                    h4 Při vstupu a používání našich webových stránek
                    div Když vstoupíte a použijete naše webové stránky a souhlasíte s použitím cookies, některé z těchto souborů cookie mohou obsahovat vaše osobní údaje.
                    h4 Při registraci uživatelů a členů
                    div Když se zaregistrujete jako člen, můžeme shromáždit některé nebo všechny následující informace: vaše jméno a příjmení, e-mailovou adresu, telefonní číslo, uživatelské jméno a heslo.
                    br
                    div Tyto údaje jsou použity následujícími způsoby:
                        ul
                            li
                                strong Jméno a přijmení
                                |<br/>Zobrazujeme ho, aby byl viditelný autor obsahu stránek (novinky, akce nebo reportáže) nebo diskusního příspěvku
                            li
                                strong E-mailová adresa
                                |<br/>Používáme ji pro přihlášení k uživatelskému účtu a pro informování členů o nových akcích nebo reportážích na webových stránkách. Slouží i pro komunikaci v rámci bazaru, který je členům k dispozici.
                            li
                                strong Telefonní číslo
                                |<br/>Může být použito v rámci bazaru pro usnadnění a zrychlení komunikace mezi prodávajícím a kupujícím
                            li
                                strong Heslo
                                |<br/>Je použito pro přihlášení k uživatelskému účtu. Musí splňovat nároky na složitost (min. délka 6 znaků, malá a velká písmena a čísla). Hesla jsou ukládána v&nbsp;
                                a(href="https://cs.wikipedia.org/wiki/Ha%C5%A1ovac%C3%AD_funkce", target="_blank") zahashované podobě.
            hr
            div
                h3 Cookies
                div Naše webové stránky používají soubory cookie. Soubor cookie je textový soubor, který je stažen do vašeho počítače nebo mobilního zařízení při přístupu na určité webové stránky. Soubory cookie mohou obsahovat text, který lze číst webovým serverem, který vám soubor cookie předal. Text obsažený v souboru cookie se obecně skládá ze sekvence písmen a čísel, které jednoznačně identifikují váš počítač nebo mobilní zařízení; může obsahovat i další informace.
                div Zákon stanoví, že na vašem zařízení můžeme ukládat soubory cookie, pokud jsou nezbytně nutné pro provoz tohoto webu. Pro všechny ostatní typy souborů cookie potřebujeme vaše oprávnění.
                div Váš souhlas se týká následujících domén: www.hastrman.cz
                div Tím, že souhlasíte s použitím cookies, nám dáváte oprávnění k umístění, uložení a přístupu k některým nebo všem níže uvedeným souborům cookie v počítači.
                    ul
                        li Nezbytné (systémové) - slouží ke správnému zobrazení webových stránek.
                            ul
                                li cookies-consent - souhlas s požitím cookies, platnost 1 rok
                        li Statistické - slouží k analytickým účelům jako je sledování návštěvnosti a nejnavštěvovanějších stránek. Údaje z těchto cookies nejsou poskytovány žádné třetí straně a jsou anonymizovány.
                            ul
                                li _pk_id. - cookie analitického nástroje, platnost jen po dobu spojení
                                li _pk_ses. - cookie analitického nástroje, platnost jen po dobu spojení
                div Většina webových prohlížečů může být nastavena tak, aby zakázala používání souborů cookie. Pokud však cookies deaktivujete, pravděpodobně nebudete mít přístup k funkcím na našich webových stránkách správně nebo vůbec.
            hr
            div
                h3 Jak jsou vaše informace požité
                div Informace, které od vás obdržíme, používáme k:
                    ul
                        li Poskytování služeb
                        li Vylepšování našich webových stránek
                        li Řešení problémů
                        li Informování o novinkách na webových stránkách
            hr
            div
                h3 Komunikace a e-maily
                div Když s Vámi komunikujeme o našich stránkách, použijeme e-mailovou adresu, kterou jste zadali při registraci. Můžeme vám také posílat e-maily s informacemi o novinkách nebo nových akcích, pokud jste se přihlásili k odběru takových informací. Nastavení přijímání těchto emailů si můžete kdykoli změnit prostrdnictvím svého účtu.
            hr
            div
                h3 Sdílení informací s přidruženými společnostmi a jinými třetími stranami
                div Osobní údaje poskytnuté na těchto webových stránkách neprodáváme ani neposkytujeme žádným třetím stranám.
                h4 Právně požadované vydání informací
                div Můžeme být zákonem požádáni o zveřejnění vašich osobních údajů, pokud takové zveřejnění je
                    ul
                        li požadované předvoláním, zákonem nebo jiným právním postupem
                        li nezbytné pro pomoc úředníkům činných v trestním řízení nebo vládním donucovacím orgánům
                        li nezbytná k naší ochraně před soudními žalobami nebo nároky třetích stran, včetně vás a / nebo jiných uživatelů nebo členů
                        li nutná k ochraně zákonných práv, osobního / nemovitého majetku nebo osobní bezpečnosti
            hr
            div
                h3 Diskusní fóra
                div Naše webové stránky mohou nabídnout uživatelům možnost vzájemně komunikovat prostřednictvím diskusních fór nebo jiných mechanismů. Nefiltrujeme ani nesledujeme, co je na těchto diskusních fórech zveřejněno. Pokud se rozhodnete na těchto diskusních fórech zveřejnit, měli byste být opatrní, jaké osobní údaje zveřejníte, neboť tato informace není chráněna naším upozorněním o ochraně osobních údajů, ani nezodpovídáme za to, pokud se rozhodnete zveřejnit své osobní údaje prostřednictvím příspěvků. Osobní údaje, které zveřejníte na našich webových stránkách mohou být k dispozici po celém světě prostřednictvím internetu. Nemůžeme zabránit použití nebo zneužití takových informací jinými uživateli.
            hr
            div
                h3 Zachování a zničení osobních údajů
                div Informace, které od vás shromažďujeme (včetně vašich osobních údajů), uchováváme pouze po nezbytně dlouhou dobu stanovenou zákonem. Vaše informace mohou být uchovávány v elektronické podobě, v písemné formě nebo v kombinaci obou. Pokud vaše informace již nepotřebujete, tak je zničíme nebo odstraníme.
            hr
            div
                h3 Aktualizace osobních údajů
                div Osobní údaje můžete aktualizovat pomocí služeb nalezených na našich webových stránkách (ve vašem uživatelském účtu). Pokud takové služby neexistují, můžete nás kontaktovat pomocí kontaktních informací uvedených v horní části tohoto upozornění a my vám pomůžeme. Vaše osobní údaje však můžeme uchovávat podle potřeby k prosazování našich smluv a dodržování zákonných povinností.
            hr
            div
                h3 Zrušení souhlasu s používáním vašich osobních údajů
                div Máte právo kdykoli odvolat svůj souhlas, abychom mohli používat vaše osobní údaje.
            hr
            div
                h3 Ochrana práv třetích stran na ochranu osobních údajů
                div Pokud nějaké příspěvky, které vytvoříte na našich webových stránkách, obsahují informace o třetích stranách, musíte se ujistit, že máte oprávnění zahrnout tyto informace do vašeho příspěvku. Nejsme právně zodpovědní za jednání našich uživatelů, ale odstraníme veškeré příspěvky, o kterých nás informují, pokud tyto příspěvky porušují práva na ochranu soukromí ostatních.
            hr
            div
                h3 Nastavení Do Not Track
                div Některé prohlížeče mají nastavení, které sdělí webovým stránkám, že si uživatel nepřeje být sledován. Naše webové stránky toto nastevení respektují. V prohlížeči můžete vypnout funkce sledování a další nastavení zabezpečení. Více informací zjistíte v uživatelském manuálu vašeho prohlížece.
            hr
            div
                h3 Odkazy na jiné webové stránky
                div Naše webové stránky mohou obsahovat odkazy na jiné webové stránky. Tyto webové stránky nejsou pod naší kontrolou a nepodléhají našemu oznámení o ochraně soukromí. Tyto webové stránky pravděpodobně budou mít vlastní oznámení o ochraně osobních údajů. Za tyto webové stránky nemáme žádnou odpovědnost a odkazy na tyto webové stránky poskytujeme pouze pro vaše pohodlí. Berete na vědomí, že vaše používání a přístup na tyto webové stránky jsou výhradně na vaše riziko. Je vaší povinností zkontrolovat oznámení o ochraně osobních údajů těchto webových stránek, abyste zjistili, jak zacházejí s vašimi osobními údaji.
            hr
            div
                h3 Ochrana soukromí dětí
                div Uvědomujeme si, že dítě mladší 18 let se může pokusit o přístup na naše webové stránky. Vědomě neshromažďujeme osobní údaje od dětí mladších 18 let. Pokud jste rodič nebo opatrovník a věříte, že vaše dítě používá naše webové stránky, kontaktujte nás. Než odstraníme jakékoli informace, můžeme vás požádat průkaz totožnosti, abychom zabránili škodlivému odstranění informací o účtu. Pokud zjistíme, že dítě má přístup na naše webové stránky, vymažeme jeho informace v přiměřené lhůtě. Berete na vědomí, že neověřujeme věk našich uživatelů, ani za to nemáme žádnou odpovědnost.
            hr
            div
                h3 Naše e-mailová pravidla
                div Nebudeme prodávat, pronajímat ani jinak poskytovat vaši e-mailovou adresou žádné třetí osobě bez vašeho svolení.
            hr
            div
                h3 Naše bezpečnostní politika
                div Webové stránky jsme vytvořili pomocí standardních bezpečnostních opatření a autentizačních nástrojů, které chrání zabezpečení vašich osobních údajů. My a třetí osoby, které nám poskytují služby, také zachovávají technické a fyzické záruky ochrany vašich osobních údajů. Bohužel nemůžeme zamezit ztrátě nebo zneužití vašich osobních údajů při přenosu dat přes internet kvůli jeho povaze.
                div Důrazně vás vyzýváme, abyste chránili jakékoli heslo, které můžete mít na našich webových stránkách a s nikým ho nesdíleli. Měli byste se vždy odhlásit z našich webových stránek, když je chcete přestat používat, zejména pokud sdílíte nebo používáte počítač na veřejném místě.
            hr
            div
                h3 Změny v oznámení o ochraně soukromí
                div Vyhrazujeme si právo kdykoli změnit toto oznámení o ochraně osobních údajů. Pokud se naše společnost rozhodne změnit toto oznámení o ochraně osobních údajů, tyto změny zveřejníme na našich webových stránkách, aby naši uživatelé byli vždy informováni o tom, jaké informace shromažďujeme, používáme a zveřejňujeme. Pokud se kdykoli rozhodneme zveřejnit nebo použít vaše osobní údaje metodou odlišnou od metody, která byla specifikována v době, kdy byla shromážděna, zašleme vám předem informační e-mail (zaslaný na e-mailovou adresu ve vašem účtu). V opačném případě budeme používat a zveřejňovat osobní údaje našich uživatelů v souladu s platným oznámením o ochraně soukromí, kdy byly informace shromážděny. Veškeré vaše další používání našich webových stránek, služeb a produktů po změně tohoto oznámení o ochraně osobních údajů bude znamenat, že s takovou změnou souhlasíte.
            hr
            div
                h3 Otázky týkající se oznámení o ochraně osobních údajů
                div Máte-li jakékoli dotazy ohledně našeho oznámení o ochraně osobních údajů, kontaktujte nás prostřednictvím údajů uvedených v horní části tohoto oznámení.

