
<section class="wrapper singlePage privacysettings">
  <div class="row">
    <div class="container large-10 medium-10 small-12 centerBlock mv30">
      <header class="row">
        <h2 class="fi-wrench">&nbsp;Nastavení soukromí</h2>
      </header>
      <div>Vaše nastavení cookies<br/><br/>
        <label for="cookies-mandatory">Nezbytné
          <input type="checkbox" disabled="disabled" checked="checked" id="cookies-mandatory"/>
        </label>
        <label for="cookies-analytics">Statistické
          <input type="checkbox" id="cookies-analytics" data-shortcut="analytics"/>
        </label>
        <label for="cookies-functional">Funkcionální
          <input type="checkbox" id="cookies-functional" data-shortcut="functional"/>
        </label>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="/public/js/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/public/js/custom/build/privacySettings.js"></script>