section.wrapper.pageSearch.singlePage
    header.row
        h2 Výsledky hledání
    section.row.container
        |{if empty($urls)}
        h3 Pro hledaný výraz nebyl nenalezen žádný odkaz
        |{/if}{else}
        |{foreach $url in $urls}
        article
            a(href!="{echo $url['path']}")
                h3 {echo $url_i}
            small
                span {echo \App\Helper\DateFormater::t2dt($url['created'])}
            br
            div {echo $url['meta']}
        |{/foreach}
        br
        include ../components/pager
        |{/else}