.privacysettings
	.blockHeader
		padding 1rem 0
	.block
		background-color headerColor
		label
			line-height 3rem
			font-weight 500
			font-size 1.5rem
			color white		
			margin 1rem 0.5rem
			input
				display inline
				float right
				margin 1rem
