<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">{if $env == "dev"}
    <meta http-equiv="Cache-control" content="no-store">{/if}
    <meta name="viewport" content="width=device-width, maximum-scale=2.0, minimum-scale=1.0, initial-scale=1.0">
    <meta name="description" content="{echo $metadescription}">
    <meta name="author" content="Tomas Hodan">
    <meta name="robots" content="{echo $metarobots}">{if isset($article)}
    <meta property="og:title" content="{echo $metatitle}" />
    <meta property="og:type" content="{echo $metaogtype}" />
    <meta property="og:url" content="{echo $metaogurl}" />
    <meta property="og:image" content="{echo $metaogimage}" />
    <meta property="og:description" content="{echo $metadescription}" />
    <meta property="og:site_name" content="{echo $metaogsitename}" />
    <meta property="article:published_time" content="{echo $artcreated}" />
    <meta property="article:modified_time" content="{echo $artmodified}" />
    {/if}{else}
    <meta property="og:url" content="{echo $metaogurl}" />
    <meta property="og:title" content="{echo $metatitle}" />
    <meta property="og:description" content="{echo $metadescription}" />
    <meta property="og:type" content="{echo $metaogtype}" />
    <meta property="og:site_name" content="{echo $metaogsitename}" />
    {/else}
    <link href="/public/css/custom/reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/css/plugins/smoothness/jquery-ui-1.10.4.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/css/foundation/foundation.css" rel="stylesheet">
    <link href="/public/css/plugins/jquery.bxslider.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/css/custom/styles.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/public/js/plugins/modernizr.js">
      <link rel="canonical" href="{echo $canonical}">
    </script>{if isset($pagedprev) && $pagedprev != 0}<link rel="prev" href="{echo $pagedprevlink}">{/if}
    {if isset($pagednext) && $pagednext != 0}<link rel="next" href="{echo $pagednextlink}">{/if}
    <title>{echo $metatitle}</title>
  </head>
  <body>
    <section class="wrapper topPanel blue">
      <header class="row">
        <div class="large-4 columns"><a href="/">
            <h1>Hastrman</h1></a></div>
        <div class="large-8 columns navWrapper">
          <nav>
            <ul>
              <li><a href="o-nas">O nás</a></li>
              <li><a href="#" class="sluzby">Služby</a></li>
              <li><a href="/odkazy">Odkazy</a></li>
              <li><a href="/galerie">Galerie</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="dropdown" class="row">
        <ul>
          <li><a href="/bazen">Bazén</a></li>
          <li><a href="/technika">Technika</a></li>
          <li><a href="/pojisteni">Pojišťění</a></li>
          <li><a href="/bazar">Bazar</a></li>
        </ul>
        <ul>
          <li><a href="/sluzby/plneni-lahvi">Plnění lahví</a></li>
          <li><a href="#">Půjčovna potápěčské výstroje</a></li>
          <li><a href="#">Prodej nové výstroje</a></li>
          <li><a href="#">Práce pod vodou</a></li>
          <li><a href="/sluzby/servis-potapeckse-techniky">Servis potápěčské techniky</a></li>
        </ul>
        <ul>
          <li><a href="/kurzy">Kurzy</a></li>
          <li><a href="/kurzy/cmas">CMAS</a></li>
          <li><a href="/kurzy/tdi">TDI</a></li>
          <li><a href="/kurzy/sdi">SDI</a></li>
          <li><a href="/kurzy/udi">UDI</a></li>
        </ul>
      </div>
    </section>
    <div class="content">{yield action}</div>
    <footer id="kontakty" class="wrapper blue">
      <div class="row container">
        <header>
          <h3>Kontakty</h3>
        </header>
        <div class="large-4 columns borderRight">
          <p>Potápěčské centrum <br> HASTRMAN <br> Mládežnická 1275<br>293 01 Mladá Boleslav<br>E-mail: info@hastrman.cz<br>Tel: Bohumír Kuhn (603 161 417)<br>Jaromír Dítě (608 550 600)<br><br>Najdete nás podle mapy</p>
        </div>
        <div class="large-4 columns borderRight">
          <p>Klub sportovních potápěčů <br> HASTRMAN <br>Mládežnická 1275<br>293 01 Mladá Boleslav<br>Tel: Jiří Nový (603 482 708)<br>novy@hastrman.cz<br>Bohumír Kuhn (603 161 417)<br>Jaromír Dítě (608 550 600)<br> E-mail: klub@hastrman.cz</p>
        </div>
        <div class="large-4 columns"></div>
        <p>HASTRMAN APNEA tým<br> Mládežnická 1275 <br> 293 01 Mladá Boleslav<br><br>Tel: Jan Tichý (721 863 728)<br>E-mail: apnea@hastrman.cz    </p>
      </div>
    </footer>
    <!--JS scripts 
    -->
    <script type="text/javascript" src="/public/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/public/js/custom/generalApp.js"></script>
    <script type="text/javascript" src="/public/js/foundation.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/jquery.carouFredSel-6.1.0-packed.js"></script>
    <!--End JS scripts 
    -->
  </body>
</html>