nav
   ul
      li
         a(href='#') O nás
         ul
            li
               a(href='/o-nas') Potápěčské centrum
            li
               a(href='/klub-hastrman') Klub sportovních potápěčů
            li
               a(href='/apnea-tym') Hastrman apnea tým
      li
         a(href='#') Články
         ul
            li
               a(href='/novinky') Novinky
            li
               a(href='/reportaze') Reportáže
            li
               a(href='/akce') Akce
      li
         a(href='/kurzy') Kurzy
         ul.kurzy
            li
               a(href='/kurzy/cmas') CMAS
            li
               a(href='/kurzy/tdi') TDI
            li
               a(href='/kurzy/sdi') SDI
            li
               a(href='/kurzy/udi') UDI
      li
         a(href='#').sluzby Služby
      li
         a(href='/odkazy') Odkazy
      li
         a(href='/galerie') Galerie
      li
         a(href='#', title='Hledat').fi-magnifying-glass#displaySearch
      |{if !isset($authUser)}
      li
         a(href='/prihlasit', title='Přihlásit se').fi-torso
      |{/if}{else}
      li
         a(href='#').fi-power
         ul
            li
               a(href='/muj-profil') Můj profil
            li
               a(href='/odhlasit') Odhlásit se
      |{/else}