nav
   ul
      li
         a(href='/o-nas') O nás
      li
         a(href='#') Apnea
      li
         a(href='#').sluzby Služby
      li
         a(href='/odkazy') Odkazy
      li
         a(href='/galerie') Galerie
      li
         a(href='#', title='Hledat').fi-magnifying-glass#displaySearch
      li
         a(href='/login', title='Přihlásit se').fi-torso

