ul
   li
      a(href='/bazen') Bazén
   li
      a(href='/technika') Technika
   li
      a(href='/pojisteni') Pojišťění
   li
      a(href='/bazar') Bazar
ul
   li
      a(href='/sluzby/plneni-lahvi') Plnění lahví
   li
      a(href='#') Půjčovna potápěčské výstroje
   li
      a(href='#') Prodej nové výstroje
   li
      a(href='#') Práce pod vodou
   li
      a(href='/sluzby/servis-potapeckse-techniky') Servis potápěčské techniky
ul

   li
      a(href='/kurzy') Kurzy
   li
      a(href='/kurzy/cmas') CMAS
   li
      a(href='/kurzy/tdi') TDI
   li
      a(href='/kurzy/sdi') SDI
   li
      a(href='/kurzy/udi') UDI
