.submenu
   ul
      li
         a(href='/bazen') Bazén
      li
         a(href='/technika') Technika
      li
         a(href='/pojisteni') Pojišťění
      li
         a(href='/bazar') Bazar
   ul
      li
         a(href='/sluzby/plneni-lahvi') Plnění lahví
      li
         a(href='/sluzby/pujcovna-potapecske-vystroje') Půjčovna potápěčské výstroje
      li
         a(href='/sluzby/prodej-nove-vystroje') Prodej nové výstroje
      li
         a(href='/sluzby/prace-pod-vodou') Práce pod vodou
      li
         a(href='/sluzby/servis-potapecske-techniky') Servis potápěčské techniky


