
<ul>
  <li><a href="/bazen">Bazén</a></li>
  <li><a href="/technika">Technika</a></li>
  <li><a href="/pojisteni">Pojišťění</a></li>
  <li><a href="">Bazar</a></li>
</ul>
<ul>
  <li><a href="/sluzby/plneni-lahvi">Plnění lahví</a></li>
  <li><a href="#">Půjčovna potápěčské výstroje</a></li>
  <li><a href="#">Prodej nové výstroje</a></li>
  <li><a href="#">Práce pod vodou</a></li>
  <li><a href="/sluzby/servis-potapeckse-techniky">Servis potápěčské techniky</a></li>
</ul>
<ul>
  <li><a href="/kurzy">Kurzy</a></li>
  <li><a href="/kurzy/cmas">CMAS</a></li>
  <li><a href="/kurzy/tdi">TDI</a></li>
  <li><a href="/kurzy/sdi">SDI</a></li>
  <li><a href="/kurzy/udi">UDI</a></li>
</ul>