/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)and (max-device-width : 480px)
	body
		.feedback
			display none

	.topPanel
		header
			min-height 170px
			h1
				text-align center

	section.wrapper.report
		.page
			.container
				padding 10px 10px 40px

	section.wrapper
		.container
			padding 10px 10px 40px

	.searchWrapper
		float none
		input
			margin-left 1.2em

	.bazar
		.container
			article
				height 250px
				margin-top 2rem
				margin-bottom 2rem
				min-width 320px
				.info
					span, p
						color white
						&.price
							color defaultGreen
							font-weight bold
							font-size 1.2em
				a.showDetail
					position absolute
					bottom -2em
					left 2.2em


	footer.wrapper
		.container
			header
				h3
					width 50%


	.filter
		form.filtr
			width 100%
		form.search
			width 100%