html
	font-family: 'Ubuntu', sans-serif !important;
	font-size: 16px;

h1, h2, h3, h4, h5, h6, a, span, p, ul, li
	font-family: 'Ubuntu', sans-serif !important;

.singlePage
	min-height calc(100% - 379px)

.centerBlock
	display block
	margin 0 auto
.clearfix
	&:before
	&:after
		content ''
		display table
	&:after
		clear both

// DEFAULT - nastaveni
@import "/stylus/default/colors"
@import "/stylus/default/dimensions"
@import "/stylus/default/wrappers"
@import "/stylus/default/loader"

//layout
@import "/stylus/layout/header"
@import "/stylus/layout/footer"

//content - content
@import "/stylus/content/index/homepage/index"
@import "/stylus/content/index/loadcontent"
@import "/stylus/content/report/index"
@import "/stylus/content/report/detail"
@import "/stylus/content/advertisement/index"
@import "/stylus/content/advertisement/filter"
@import "/stylus/content/gallery/index"
@import "/stylus/content/user/login"
@import "/stylus/content/user/profil"
@import "/stylus/content/action/index"


//components
@import "/stylus/components/pager"
@import "/stylus/components/notification"

@import "mobile"



body
	.feedback
		position fixed
		bottom 0
		right 1em
		background #ff4500
		border 1px solid white
		border-bottom 0
		padding .3em 1em
		color white
		z-index 100
		a
			color white
		&:before
			margin-right .5em





















