/**********Variables***********/
.borderRight {
  border-right: 1px solid #000;
  margin-top: 5px;
  margin-bottom: 5px;
}
a:hover,
a:active {
  color: #ffff81;
}
/*********/
body {
  background-color: #134e6e;
}
.topPanel {
  background-color: #000;
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.topPanel a h1 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.topPanel a:hover h1 {
  color: #ffff81;
}
.bgBlack {
  background-color: #000;
  position: relative;
}
.white {
  color: #fff;
}
.navWrapper {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 30px;
  top: 35px;
  right: 0;
  background-color: #000;
  width: 150%;
  height: auto;
  overflow: hidden;
  z-index: 50;
  -webkit-transition: all 1.5s ease 0s, visibility 0s linear 1s;
  -moz-transition: all 1.5s ease 0s, visibility 0s linear 1s;
  transition: all 1.5s ease 0s, visibility 0s linear 1s;
}
.dropdown ul {
  position: relative;
  float: right;
  margin-left: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #fff;
}
.dropdown ul:last-child {
  border: 0;
}
.dropdown li {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
nav {
  float: right;
  bottom: 10px;
}
nav ul {
  list-style-type: none;
}
nav ul a {
  color: #fff;
  font-size: 1.25rem;
}
nav ul li {
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 15px;
  padding-left: 15px;
}
nav ul .sluzby:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
nav li:last-child {
  border: 0px;
}
.contentWrapper {
  background-color: #09c;
  height: auto;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  z-index: 1;
  padding-top: 72px;
}
.bxslider {
  position: relative;
}
.bxslider .nadpisWrapper {
  left: 50%;
  top: 200px;
  position: absolute;
  width: 60%;
}
.bxslider .nadpis {
  left: -50%;
  position: relative;
  text-align: center;
  z-index: 10;
  background-color: rgba(255,255,255,0.6);
}
.bxslider img {
  width: 100%;
}
/**************** INDEX ***************/
.blueHeader {
  background-color: #000;
  position: relative;
  height: 40px;
}
.blueHeader h3 {
  color: #fff;
  padding: 5px;
  font-size: 22px;
}
.blueHeader .pad {
  padding-left: 25px;
}
.blueHeader a {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 25%;
}
.indexNew {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  -webkit-box-shadow: 0px 46px 5px -45px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 46px 5px -45px rgba(0,0,0,0.75);
  box-shadow: 0px 46px 5px -45px rgba(0,0,0,0.75);
  margin-top: 10px;
  height: 33%;
}
.indexNew:first-child {
  padding-top: 0;
}
.indexNew:last-child {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.indexNew a:hover h4 {
  text-decoration: underline;
  color: #ffff81;
}
.indexNew h4 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
}
.block {
  height: 390px;
  margin-bottom: 20px;
}
.indexContent {
  background: #d4e4ef;
  background: -moz-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d4e4ef), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -o-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: linear-gradient(to right, #d4e4ef 0%, #e1e1e1 100%);
  height: 350px;
}
.alignCenter {
  text-align: center;
}
#carousel a {
  width: 30%;
  margin: 15px;
  padding: 15px;
  float: left;
  height: 270px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background: #134e6e;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
  text-shadow: 2px 2px 3px #000;
}
#carousel a .datum {
  font-style: italic;
  font-size: 0.7em;
  line-height: 0.7em;
  margin: 0;
}
#carousel a:hover {
  color: #fff;
  margin-top: 20px;
}
#carousel a header {
  margin-bottom: 2em;
}
#carousel a header h4 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 700;
}
/*** LOADCONTENT ***/
.infoWrapper {
  overflow: hidden;
  height: auto;
  padding: 20px 20px 40px;
  background: #d4e4ef;
  background: -moz-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d4e4ef), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -o-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(left, #d4e4ef 0%, #e1e1e1 100%);
  background: linear-gradient(to right, #d4e4ef 0%, #e1e1e1 100%);
}
.infobody h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.infobody h2 {
  -webkit-box-shadow: 0px -42px 3px -34px #144e6e;
  -moz-box-shadow: 0px -42px 3px -34px #144e6e;
  box-shadow: 0px -42px 3px -34px #144e6e;
  padding-top: 20px;
}
.infobody a {
  color: #09c;
}
.infobody a:hover {
  color: #134e6e;
}
