html {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
ul,
li {
  font-family: 'Ubuntu', sans-serif !important;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
}
.mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mv40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mh30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mh40 {
  margin-left: 40px;
  margin-right: 40px;
}
.pt {
  padding-top: 1.2em;
}
.pt.half {
  padding-top: 0.6em;
}
.pt.big {
  padding-top: 3em;
}
.pb {
  padding-bottom: 1.2em;
}
.pb.half {
  padding-bottom: 0.6em;
}
.pb.big {
  padding-bottom: 2.4em;
}
.pr {
  padding-right: 1.2em;
}
.pr.half {
  padding-right: 0.6em;
}
.pr.big {
  padding-right: 3em;
}
html {
  min-height: 100%;
  background: transparent url("../../images/IMG_9650.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: none;
}
.panel {
  margin: 0;
  background: #394c5f;
  border: none;
}
.wrapper {
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.7);
  overflow: hidden;
}
.wrapper.blue {
  background: rgba(57,76,95,0.8);
  color: #fff;
}
.wrapper.blue h1,
.wrapper.blue h2,
.wrapper.blue h3,
.wrapper.blue h4 {
  color: #fff !important;
}
.wrapper header.row h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-bottom: 20px;
  width: 30%;
  border-bottom: 3px solid #1dd2af;
}
.wrapper section.row.container article {
  position: relative;
  padding: 20px;
}
.wrapper section.row.container article:last-child {
  margin-bottom: 20px;
}
.wrapper section.row.container article span {
  font-style: italic;
  margin: 0;
}
.wrapper section.row.container article header h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.wrapper section.row.container article .body {
  margin-top: 1.5em;
}
.wrapper section.row.container article .body p {
  height: 50px;
  line-height: 25px;
  overflow: hidden;
}
.wrapper section.row.container article .body a {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000;
  font-weight: bold;
}
.wrapper section.row.container article .body a:hover {
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
}
.wrapper section.row.container article:nth-child(odd) {
  background: rgba(19,78,110,0.7);
  border: 1px solid #394c5f;
}
.wrapper section.row.container article:nth-child(odd) h3,
.wrapper section.row.container article:nth-child(odd) p,
.wrapper section.row.container article:nth-child(odd) span {
  color: #fff;
}
.wrapper section.row.container article:nth-child(odd) a {
  color: #1dd2af;
}
.page section.wrapper header {
  border-bottom: 2px dotted rgba(57,76,95,0.8);
}
.page section.wrapper header h1 {
  text-align: left !important;
}
.content {
  width: 100%;
}
.topPanel header {
  margin-top: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.topPanel header a h1 {
  font-weight: 700;
  height: 112px;
  line-height: 112px;
  color: #fff;
  width: 260px;
  margin: 0 auto;
  text-transform: uppercase;
}
.topPanel header a h1:after {
  content: ' ';
  background: url("../../images/Logo_Hastrmnek%20copy.png") no-repeat;
  background-size: 300px 300px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 291px;
  left: -245px;
}
.topPanel header a:hover h1 {
  color: #1dd2af;
}
.topPanel header .navWrapper {
  padding: 0;
  margin: 0;
  height: 112px;
}
.topPanel header .navWrapper nav {
  min-width: 600px;
  max-width: 600px;
  bottom: 10px;
  margin: 0 auto;
}
.topPanel header .navWrapper nav ul {
  position: relative;
  margin-left: 0;
  margin-right: 0.875rem;
  float: right;
  list-style-type: none;
}
.topPanel header .navWrapper nav ul li {
  display: block;
  height: 112px;
  line-height: 112px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
.topPanel header .navWrapper nav ul li:last-child {
  border: 0px;
  padding-right: 0;
}
.topPanel header .navWrapper nav ul a {
  color: #fff;
  font-size: 1.25rem;
}
.topPanel header .navWrapper nav ul a:hover {
  color: #1dd2af;
}
.topPanel header .navWrapper nav ul li {
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 15px;
  padding-left: 15px;
}
.topPanel #dropdown {
  display: none;
  background-color: transparent;
  overflow: hidden;
  text-align: right;
  position: relative;
}
.topPanel #dropdown .submenu {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.topPanel #dropdown ul {
  float: right;
  position: relative;
  margin-left: 1em;
  padding-right: 1em;
  border-right: 1px solid #fff;
  list-style-type: none;
}
.topPanel #dropdown ul:first-child {
  border: 0;
}
.topPanel #dropdown ul li a {
  color: #fff;
}
.topPanel #dropdown ul li a:hover {
  color: #1dd2af;
}
footer.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}
footer.wrapper .container header h3 {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #1dd2af;
  color: #000;
  font-weight: 700;
}
footer.wrapper .container p {
  width: 280px;
  height: 250px;
  margin: 0 auto;
  border-bottom: 1px dotted #1dd2af;
  text-align: center;
  padding-top: 0.875rem;
}
.homepage section.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.homepage section.wrapper .moreWrap {
  height: 40px;
  line-height: 40px;
  width: 140px;
  margin: 0 auto;
  margin-top: 1.875rem;
}
.homepage section.wrapper .moreWrap .more {
  position: relative;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #1dd2af;
}
.homepage section.wrapper .moreWrap .more span {
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #fff;
}
.homepage section.wrapper .moreWrap .more.blue:hover {
  background: #fff;
}
.homepage section.wrapper .moreWrap .more.blue:hover span {
  color: #000;
}
.homepage section.wrapper .moreWrap .more:hover {
  background: rgba(57,76,95,0.8);
}
.homepage section.wrapper .moreWrap .more:hover span {
  color: #fff;
}
.homepage section.wrapper .container header h3 {
  width: 25%;
  min-width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #1dd2af;
  color: #000;
  font-weight: 700;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider {
  position: relative;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider img {
  width: 100%;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider .nadpisWrapper {
  left: 50%;
  top: 200px;
  position: absolute;
  width: 60%;
  height: 62px;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider .nadpisWrapper .nadpis {
  left: -50%;
  background: rgba(255,255,255,0.6);
  position: relative;
  text-align: center;
  overflow: hidden;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider .nadpisWrapper .nadpis a {
  color: #000 !important;
}
.homepage section.wrapper .container .bx-wrapper .bx-viewport ul.bxslider .nadpisWrapper .nadpis a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.homepage section.wrapper .container .bx-wrapper .bx-controls .bx-pager {
  width: 12%;
  left: 44%;
  background: rgba(255,255,255,0.6);
  height: 1.5em;
  line-height: 1.5em;
  padding-top: 0.5em;
  bottom: 2em;
}
.homepage section.wrapper .container .bx-wrapper .bx-controls .bx-pager .bx-pager-link {
  background: secondaryBlue;
}
.homepage section.wrapper .container .bx-wrapper .bx-controls .bx-pager .bx-pager-link.active {
  background: #394c5f !important;
}
.homepage section.wrapper .container .container-box {
  background: transparent;
  position: relative;
  height: 100%;
}
.homepage section.wrapper .container .container-box article.indexNew {
  height: 220px;
  background: #fff;
  color: #000;
  padding: 10px;
}
.homepage section.wrapper .container .container-box article.indexNew p {
  height: 100px;
  line-height: 25px;
  overflow: hidden;
  padding: 0 1em;
  margin-top: 20px;
  position: relative;
}
.homepage section.wrapper .container .container-box article.indexNew header a:hover h4 {
  text-decoration: underline;
  color: #1dd2af;
}
.homepage section.wrapper .container .container-box article.indexNew header h4 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  color: #000 !important;
  text-align: center;
}
.homepage section.wrapper .container .container-box #carousel {
  padding-top: 20px;
  background: transparent;
}
.homepage section.wrapper .container .container-box #carousel a {
  margin: 10px;
  padding: 15px;
  float: left;
  height: 270px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  background: #fff;
  color: #000;
  border-radius: 8px;
  border: 1px solid #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homepage section.wrapper .container .container-box #carousel a:hover {
  margin-top: -2px;
  border-color: #1dd2af;
  border-width: 4px;
}
.homepage section.wrapper .container .container-box #carousel a p {
  height: 150px;
  overflow: hidden;
  line-height: 25px;
}
.homepage section.wrapper .container .container-box #carousel a header {
  margin-bottom: 2em;
}
.homepage section.wrapper .container .container-box #carousel a header h4 {
  margin-bottom: 0;
  color: #000;
  font-weight: 700;
}
.homepage section.wrapper .container .container-box #carousel a header .datum {
  font-style: italic;
  font-size: 0.7em;
  line-height: 0.7em;
  margin: 0;
}
.homepage section.wrapper .container .container-box article.partner {
  float: left;
  height: 100px;
  padding: 0 1em;
  margin: 1em 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
.homepage section.wrapper .container .container-box article.partner img {
  height: 100px;
}
.homepage section.wrapper .container .container-box article.partner:hover > .info {
  top: 0;
  transition: top 0.8 ease;
}
.homepage section.wrapper .container .container-box article.partner .info {
  position: absolute;
  top: -100px;
  width: 88%;
  height: 100px;
  line-height: 100px;
  background: rgba(0,0,0,0.8);
  transition: top 0.8s ease;
}
.homepage section.wrapper .container .container-box article.partner .info a {
  color: #1dd2af;
  font-size: 1.1em;
}
.homepage section.wrapper .container .container-box article.partner .info a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: #1dd2af;
}
.homepage section.wrapper .container .partneri {
  float: left;
  width: 100%;
}
.page section.wrapper {
  overflow: hidden;
  padding: 50px 0px;
}
.page section.wrapper .container h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.page section.wrapper .container h2 {
  -webkit-box-shadow: 0px -42px 3px -34px rgba(57,76,95,0.8);
  -moz-box-shadow: 0px -42px 3px -34px rgba(57,76,95,0.8);
  box-shadow: 0px -42px 3px -34px rgba(57,76,95,0.8);
  padding-top: 20px;
}
.page section.wrapper .container a {
  color: secondaryBlue;
}
.page section.wrapper .container a:hover {
  color: #394c5f;
}
.page section.wrapper .container ul {
  list-style-type: circle;
}
.page section.wrapper .container hr {
  border-color: rgba(57,76,95,0.8);
}
.reports a:last-child article {
  margin-bottom: 40px;
}
.reports article.report {
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.reports article.report img {
  min-height: 100%;
  min-width: 100%;
}
.reports article.report:hover > .info {
  top: 0;
  transition: top 0.8s ease;
}
.reports article.report .info {
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 10px;
  height: 200px;
  line-height: 25px;
  background: rgba(0,0,0,0.6);
  transition: top 0.8s ease;
  overflow: hidden;
}
.reports article.report .info h2,
.reports article.report .info span,
.reports article.report .info p {
  color: #fff !important;
  font-family: 'Ubuntu', sans-serif !important;
}
.reports article.report .info h2 span,
.reports article.report .info span span,
.reports article.report .info p span {
  color: #fff !important;
}
.reports article.report .info h2 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6em;
}
.reports article.report .info span {
  font-style: italic;
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}
.reports article.report .info p {
  margin-top: 15px;
  font-size: 0.8em;
}
section.wrapper.report header {
  border: 2px solid rgba(57,76,95,0.8);
  border-top: none;
  position: relative;
  margin-bottom: 40px;
}
section.wrapper.report header .imgWrapper {
  height: 250px;
  overflow: hidden;
  width: 100%;
}
section.wrapper.report header .imgWrapper img {
  width: 75% !important;
  min-height: 250px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
section.wrapper.report header .imgWrapper img:hover {
  width: 80% !important;
  margin-left: -2.5%;
}
section.wrapper.report header .reportInfo {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #000;
  width: 25%;
  padding: 10px;
  text-align: center;
}
section.wrapper.report header .reportInfo h2 {
  color: #fff;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 35px;
  border: 0;
}
section.wrapper.report header .reportInfo span {
  color: #fff;
}
section.wrapper.report .container {
  padding-bottom: 40px;
}
.pager {
  text-align: center;
  padding-bottom: 20px;
}
.pager a {
  background: rgba(57,76,95,0.8);
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 5px;
}
.pager a.active {
  background: #1dd2af;
  color: #fff;
}
.pager a:hover {
  background: #fff;
  color: #1dd2af;
  border-color: #1dd2af;
}
.homepage .container-box {
  overflow: hidden;
}
.homepage .container-box a:first-child article.report {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.homepage .container-box a:first-child article.report .info {
  height: 300px;
  top: 250px;
  transition: top 0.8s ease;
  width: 100%;
}
.homepage .container-box a:first-child article.report:hover >.info {
  top: 0;
  transition: top 0.8s ease;
}
.homepage article.report {
  height: 150px;
  float: left;
  overflow: hidden;
  position: relative;
  padding-bottom: 0 !important;
}
.homepage article.report img {
  min-width: 100%;
  min-height: 100%;
}
.homepage article.report .info {
  position: absolute;
  background: rgba(0,0,0,0.6);
  height: 150px;
  top: 110px;
  width: 100%;
  padding: 0 20px;
  transition: top 0.8s ease;
  overflow: hidden;
}
.homepage article.report .info h2,
.homepage article.report .info h3,
.homepage article.report .info p,
.homepage article.report .info span {
  color: #fff !important;
}
.homepage article.report .info h3 {
  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homepage article.report .info span {
  font-size: 0.8em;
}
.homepage article.report:hover .info {
  top: 50px;
  transition: top 0.8s ease;
}
.bazar .container .buttonWrapper li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}
.bazar .container .buttonWrapper li a {
  color: #fff;
  background: #394c5f;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #1dd2af;
}
.bazar .container .buttonWrapper li a:hover {
  color: #1dd2af;
}
.bazar .container .buttonWrapper li a::before {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px dotted #fff;
}
.bazar .container article {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 300px;
  margin-top: 1.875rem;
  min-width: 500px;
}
.bazar .container article:last-child {
  margin-bottom: 60px;
}
.bazar .container article .buttonTab {
  position: absolute;
  overflow: hidden;
  top: 16px;
  text-align: center;
  width: 35px;
  height: 35px;
  background: #394c5f;
  border-radius: 5px;
  color: #fff;
  z-index: 2;
  font-size: 15pt;
}
.bazar .container article .buttonTab:hover {
  color: #1dd2af;
  top: 17px;
}
.bazar .container article .buttonTab.delete {
  right: 20px;
  color: #c10;
}
.bazar .container article .buttonTab.delete:hover {
  color: #f00;
}
.bazar .container article .buttonTab.edit {
  right: 60px;
}
.bazar .container article .buttonTab.reload {
  right: 100px;
}
.bazar .container article .imgWrapper {
  width: 60%;
  height: 300px;
  line-height: 300px;
  float: left;
  margin: 0;
  padding: 0;
  background: #394c5f;
}
.bazar .container article .imgWrapper img {
  width: 100%;
}
.bazar .container article .nazev {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  padding-right: 1.875rem;
  z-index: 1;
}
.bazar .container article .nazev .nazevWrapper {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 40px;
}
.bazar .container article .nazev h4 {
  width: 74%;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.875rem;
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.bazar .container article .info {
  background: #394c5f;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 5px;
  border-left: 1px dotted #1dd2af;
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
  line-height: 2em;
}
.bazar .container article .info span,
.bazar .container article .info p {
  color: #fff;
}
.bazar .container article .info span.price,
.bazar .container article .info p.price {
  color: #1dd2af;
  font-weight: bold;
  font-size: 1.6em;
}
.bazar .container article .info small {
  font-size: 80%;
}
.bazar .container article .info center {
  margin-bottom: 1em;
}
.bazar .container article .info .nabidka {
  text-transform: uppercase;
  font-weight: bold;
  color: #adff2f;
  margin-bottom: 1em;
}
.bazar .container article .info .poptavka {
  text-transform: uppercase;
  font-weight: bold;
  color: #ff4500;
  margin-bottom: 1em;
}
.bazar .container article .info a {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-decoration: underline;
  color: #fff;
  text-align: center;
  width: 100%;
}
.bazar .container article .info a:hover {
  color: default #008000;
  text-decoration: underline;
}
.filter form.filtr {
  width: 50%;
  float: left;
}
.filter form.filtr select {
  float: left;
  width: 25%;
  margin-left: 2%;
  font-family: 'Ubuntu', sans-serif !important;
}
.filter form.filtr input[type=submit] {
  height: 2.3125rem;
  line-height: 2.3125rem;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  margin-left: 2%;
  color: #fff;
  background: #1dd2af;
  border: 2px outset #fff;
  background-image: none;
}
.filter form.filtr input[type=submit]:hover {
  border-color: #1dd2af;
  color: #1dd2af;
  background: #fff;
}
.filter form.search {
  float: right;
  width: 25%;
}
.filter form.search input[type=text] {
  width: 70%;
  margin-right: 5%;
  float: left;
}
.filter form.search a {
  float: left;
  width: 10%;
  margin-right: 5%;
}
.filter form.search a:before {
  height: 2.3112rem;
  text-align: center;
  width: 2.3112rem;
  color: #1dd2af;
  font-size: 2.3112rem;
}
.login {
  min-height: 600px;
}
.login .container {
  width: 40%;
  min-width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.875rem;
}
.login .container header .loginInfo {
  background: #394c5f;
  position: relative;
  padding: 0.875rem;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.login .container header .loginInfo p {
  color: #fff;
  font-size: 0.75rem;
}
.login .container header .loginInfo a {
  color: #1dd2af;
}
.login .container header .loginInfo a:hover {
  text-decoration: underline;
}
.login .container header p:before {
  position: absolute;
  top: 10px;
  left: 47%;
  font-size: 26pt;
  padding-right: 0.2em;
  color: #1dd2af;
}
.login .container header h2 {
  text-align: center;
}
.login .container header h2:before {
  padding-right: 0.5em;
}
.login .container form input[type=submit] {
  height: 2.3125rem;
  width: 100%;
  margin: 0 auto;
  line-height: 2.3125rem;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  color: #fff;
  background: #394c5f;
  border: 3px outset #fff;
}
.login .container form input[type=submit]:hover {
  border-color: #394c5f;
  color: #394c5f;
  background: #fff;
}
