.cookies-consent
    position fixed
    left 0
    bottom 0
    width 100%
    min-height 3rem
    padding .5rem
    color white
    text-align center
    background-color #333
    z-index 1000


    .cookies-consent-text
        width 100%
        padding-bottom .5rem

    .cookies-consent-types
        width 50%
        text-align right
        float left
        label
            color white
            display inline
            margin-left 2rem
        input
            margin 0 1rem

    .cookies-consent-buttons
        float left
        a
            white-space nowrap
            color white
            background-color defaultGreen
            padding .4rem
            width 10%
            min-width 180px
            margin-left .5rem
            &:first-of-type
                margin-left 1rem
            &:hover
                background-color defaultBLue
