.pager{
	text-align center
	padding 10px
	a{
		background headerColor
		color white
		width 30px
		height 30px
		line-height 30px
		padding 5px 10px
		border 1px solid white
		border-radius 4px
		margin 5px
		&.active{
			background defaultGreen
			color white
		}
		&:hover{
			background #ffffff
			color defaultGreen
			border-color defaultGreen
		}
	}

}